[2018-04-01 02:58] Ice3man543 opened #1 "Add Google Custom Search API Support"
Need to add google custom search API Support and also Google Search Scraping

[2018-04-01 12:06] Ice3man543 opened #2 "Add PassiveTotal Threat Search Support"
As suggested by @streaak in the Slack Channel, PassiveTotal seems to be a landmine of subdomain data. Add it to the tool.

Needs an API Key to work :+1:

[2018-04-05 10:43] Ice3man543 opened #6 "Add Subdomain Bruteforcing Support"
Do it !

[2018-04-07 12:01] Ice3man543 opened #7 "Add Ask.com Data Source"

[2018-04-07 12:01] Ice3man543 opened #8 "Add Baidu Data Source"

[2018-04-07 12:38] #2 closed, assigned to nobody

[2018-04-15 10:55] Ice3man543 opened #9 "Add Search Engine Support"
There are many search engines that can be added.
- Google
- Baidu
- Yahoo
etc.

[2018-04-16 06:53] madaratech opened #10 "Config file error even it's placed in Bin dir"
## What's the problem (or question)?
Config file error while running the binary even config file placed under `$GOPATH/bin`

## Do you have an idea for a solution?
Not sure!

## How can we reproduce the issue?

1. Run the `subfinder` from anywhere in root path

## What are the running context details?

* Installation method (`go get`):
* Client OS (`Ubuntu`)

[code]

[2018-04-16 10:04] madaratech commented on #10
If i'm running the tool from

`root@vps:~/go/src/github.com/ice3man543/subfinder#`

it's working well, as you suggested in readme to copy `config.json` in `/go/bin` after doing that, if i'm trying to run the `subfinder` from root dir or anywhere else, i'm getting that error.

[2018-04-16 10:31] Ice3man543 commented on #10
Hi @madaratech .
You need to have both subfinder and config.json in the same directory.
Can you provide a directory listing?

[2018-04-16 10:41] jaikishantulswani commented on #10
but Where is config.json

[2018-04-17 01:55] madaratech commented on #10
Got it clear now, I need to have the config file in dir wherever I want to use it.

Thanks!

[2018-04-18 11:13] cokebottle opened #12 "Docker build error"
[code]
## How can we reproduce the issue?
git clone https://github.com/Ice3man543/subfinder
cd subfinder
docker build -t subfinder .

[2018-04-18 11:14] Ice3man543 commented on #12
@cokebottle Did you update your local repo?

[2018-04-18 11:16] Ice3man543 commented on #12
Hey. I am sorry. I forgot to add state.go updated version. It broke the chain somehow. Just uploading it. We haven't set up Ci yet, I will look into it. Thanks for notifying.

[2018-04-18 11:17] cokebottle commented on #12
No problem, thanks for the promptitude and for the great tool :)

[2018-04-18 11:27] cokebottle commented on #12
Works correctly now. THANKS!

[2018-04-18 11:27] #12 closed

[2018-04-18 12:34] tomnomnom commented on #10
I realise this issue is closed, but I've seen the same thing.

The README specifies there should be a `config.json` file in `$GOPATH/bin/`, or whichever directory the tool is in. This is not the case. The `config.json` file must be in the current working directory:

[code]

This means the user must have a `config.json` file in _every_ directory they wish to use the tool in.

Given that the tool op

[2018-04-18 13:00] Ice3man543 commented on #10
Hi @tomnomnom, Thanks for commenting. I have modified the tool to read the config.json file from the path the tool is placed in and also not to raise any error if it is not found. Is that Ok? Or do i need to consider adding the configuration file in ~/.config or something. I don't know what's the right way to do this in golang.
Thanks.

[2018-04-18 13:07] tomnomnom commented on #10
@Ice3man543 thanks for the super fast response :)

Personally I think having it in `$GOPATH/bin` (or wherever else the binary is located) is a little strange / not really the place for it. Something under `~/.config/` would make more sense IMO as it's where many tools store their user-specific (as apposed to system-wide) configuration files.

[2018-04-18 13:10] Ice3man543 commented on #10
@tomnomnom So I should create a directory under ~/.config where the configuration file should be stored. But wouldn't it require more effort on user's part. If i do that, i would have to create an installer script. Or we could simply let it remain there. Any ideas how to create an installer script for golang tool.

This way, we could just put it in the tool's dir like /opt/subfinder/config.json
Th

[2018-04-18 18:40] arbazkiraak opened #13 "QUESTION | Format of config.json"
What should be the format of config.json to store API Keys of 3 Sevices ?

[2018-04-19 00:15] Ice3man543 commented on #13
Hi, I have added a sample config.json file. Hope this helps.
Thanks for bringing this to light.

[2018-04-19 10:00] arbazkiraak commented on #13
Thank you ~

https://github.com/Ice3man543/subfinder/blob/master/config.json

[2018-04-19 10:00] #13 closed

[2018-04-19 16:59] Ice3man543 commented on #10
Hey @tomnomnom @madaratech I have edited the code to add the ability to have config.json in $HOME/.config/subfinder directory. The directory is automatically created if it doesn't exists when the tool is run for the first time.
I guess it fixes the issue. Check it out. Another thing, please clone the whole thing again since due to some bad commits, had to force push. :+1:

[2018-04-22 17:03] Ice3man543 commented on #10
Hi guys @tomnomnom @madaratech, I have updated the code to have it store values in $HOME/.config/subfinder/config.json file. The user can set these values using --set-config option. I think this resolves this issue. If so, please close it.

[2018-04-23 03:46] madaratech commented on #10
Thank you @Ice3man543

[2018-04-23 03:46] #10 closed

[2018-04-23 04:32] madaratech commented on #10
Hey @Ice3man543,

[code]

added both keys using `set-config` option but for SecurityTrails got following error.

[2018-04-23 09:31] Ice3man543 commented on #10
Yup. I know what the problem is. You are running the tool for the first time with --set-config flag. That will cause an error since the config file hasn't been read yet. What you should do is run the tool once and then run it again specifying --set-config option. The first time will initialize it and then you can have fun with it. Correct me if I am wrong !

[2018-04-23 09:44] madaratech commented on #10
No, I'm not running it for the 1st time, did 2-3 scan without keys and tried to add that later!

infact able to add those 2 other keys, having problem with SecurityTrails only.

[2018-04-23 09:44] Ice3man543 commented on #10
@madaratech Sorry. It seems that the docker image can't hold config.json permanently. Looks Like i need to learn about docker

[2018-04-23 09:45] Ice3man543 commented on #10
Do you know any solution to persist data across docker runs ?

[2018-04-23 09:47] Ice3man543 commented on #10
I don't have any errors while adding SecurityTrails key outside docker. Try to do it without the docker image!

[2018-04-23 09:49] Ice3man543 commented on #10
@madaratech Can you run it with Virustotal option ?

[2018-04-23 10:25] madaratech commented on #10
yeah, as I said before I'm able to add VirusTotal and PassiveDNS key, will try to run the same outside the docker and let you know.

[2018-04-23 10:33] Ice3man543 commented on #10
@madaratech I read about docker for some time. The solution I have found is quite simple. You can run the binary in your host system and let it create the directory structure of files, or you can run `mkdir $HOME/.config/subfinder` and then copy the config.json file in that directory and edit it with values. After that, you can pass it as a volume using the following sample command.
`sudo docker r

[2018-04-27 01:05] Os3r3um opened #20 "Docker build error message"
## Docker build error

[code]

## Do you have an idea for a solution?

Something looks wrong with the Docker image. Maybe when it was initially build up some paths should be updated/changed?

My environment is Kali Linux with Docker.

[2018-04-27 05:07] blshkv opened #21 "join forces"
There are 5-6 tools at least, they are all somewhat "better" than any other tools.
But this is getting too much, I'm keeping track here:
https://github.com/pentoo/pentoo-overlay/issues/273

I have just helped to fix a similar tool https://github.com/caffix/amass/issues/17

Why guys don't you just join forces? It is written on go as well.

[2018-04-27 09:38] blshkv commented on #21
I suggested not to start a new project and join any existing one.
amass, in particular, is very similar with your tool and they have released a new version just 14 hours ago.

[2018-04-27 09:53] Ice3man543 commented on #21
@blshkv We tried amass and were disappointed with the results. Also, amass's code-base is pretty inflexible and hard to grasp. In order to contribute, we need to understand the structure of the code. Unfortunately, I couldn't. We had a talk about this in the bugbountyworld forum and finally decided to write the tool.
At this moment without even making an initial release, I think what I have worked

[2018-04-29 05:35] Ice3man543 commented on #20
@codingo Can you help me out here?

[2018-04-30 23:21] codingo opened #23 "Resolve outstanding linting issues"
Automated test cases including linting checkers were added in #17 however not all checks are passing. Code should be updated to match these checks so they can be enforced in the future.

[2018-05-03 06:31] codingo opened #26 "Using the incorrect name for an API key throws exception: call of reflect.Value.SetString on zero Value"
When setting up API keys if you specify the wrong key value an ambiguous exception is thrown:

Note the misspelling of VirusTotal (should be Virustotal for successful addition).

[2018-05-04 01:45] codingo commented on #8
Closed with #25

[2018-05-04 01:45] #8 closed

[2018-05-04 01:46] codingo opened #28 "Add support for domains list"
In many programs you will want to test more  than one domain. It would be ideal to be able to stdin a list of domains, or provide one on the command line in lue of the -d flag.

[2018-05-04 09:50] Ice3man543 commented on #28
I will work on this feature. I have been meaning to do it from a long time but haven't been able to due to work. Next 2 days, i will implement this and some other features. :+1:

[2018-05-04 09:52] Ice3man543 commented on #26
That doesn't seems like an issue since reflect needs correct name to change values at run time. Also, the README.md document correctly states the names we need to modify. Any ideas?

[2018-05-04 11:26] codingo commented on #26
I think updating this to show a more accurate exception would be the best move. If you don't put 2+2 together this can be confusing for the end user in its current form.

[2018-05-05 12:35] Ice3man543 commented on #28
Updated code structure of passive enumeration and outputs almost fully. Now, we can use -dl switch to use a text file as argument and write json or text output either in a single file or multiple files in a directory based on domain names. :+1:

[2018-05-05 13:45] #28 closed

[2018-05-05 15:01] madaratech opened #31 "No error handling for the blank argument"
## What's the problem (or question)?
Missing error management.

## Do you have an idea for a solution?
Display generic error for missing required argument or display help menu for blank input.

## How can we reproduce the issue?

1. `./subfinder` (without any argument)

## What are the running context details?

* Installation method : **go get**
* Client OS (e.g. `Microsoft Windows 10`): **Mac OS*

[2018-05-05 15:07] Ice3man543 commented on #31
Hey @madaratech I recently pushed some code adding domain list and recursion support. It is due to some errors there that I forgot to add message. I will do it in about an hour or so. Thanks for informing.

[2018-05-05 15:51] Ice3man543 commented on #31
Fixed in commit 25858f557a95ef4a9c33f82d9eec73f7ae0a6cbb. Thanks for notifying !

[2018-05-05 15:51] #31 closed

[2018-05-05 19:03] madaratech commented on #31
Nice!

1 more thing, is that typo? **top** instead of **to**? @Ice3man543

![image](https://user-images.githubusercontent.com/8293321/39666661-d9162230-50c4-11e8-8ed7-d3b53567c424.png)

[2018-05-05 23:33] Ice3man543 commented on #31
Yeah
Will be fixing that soon.

[2018-05-06 00:53] Ice3man543 commented on #31
Done. @madaratech :d

[2018-05-06 03:47] Ice3man543 opened #32 "Create better install instructions in readme and add comaprison"
@codingo We have been talking about this for a while. Would you like to do this or should I?

[2018-05-06 03:50] Ice3man543 commented on #32
Also, should we combine subdomain takeover detection into this tool?

[2018-05-06 07:28] codingo opened #33 "Subdomain Comparison to last runs"
Identifying new and old subdomains would be valuable and having a flag to pass in a previous scan of a domain to compare results against would prove valuable.

Essentially - I scan subdomain x into output x.txt on day y

On day z I rescan x, but I pass the flag --dif x.txt and it compares the results of scan z against my previous scan and lets me know what has changed.

This not only may help iden

[2018-05-06 07:53] codingo commented on #33
I think we focus on 1:1 for now between two files. I'm still giving some further thought to the best way to approach multiple files and will raise a new issue / merge once we've tackled it.

[2018-05-06 08:02] Ice3man543 commented on #33
Sure. :+1:

[2018-05-06 17:07] madaratech commented on #32
Hey guys!

subdomain takeover detection would be nice to add, but also want to suggest few things to keep in mind which I think will be good to have.

1. Flag to check for subdomain takeover after successful subdomain scan.
2. Flag to check for subdomain takeover for given list of the subdomain.

2nd option would be useful when you want to check for takeover in future but don't want scan again for

[2018-05-06 17:09] madaratech commented on #33
Awesome idea @codingo!

[2018-05-08 08:13] Ice3man543 opened #34 "Multiple domain list input not working correctly"
The -dl switch is not working correctly. It outputs subdomains for other domains that the one the scan Is being run for.
This needs to be fixed.

[2018-05-08 10:44] Ice3man543 commented on #34
If anyone has any ideas, feel free to mention it? @codingo @Mzack9999

[2018-05-08 12:18] Ice3man543 opened #35 "Refactor code for golang style guide and idioms"
## What's the problem (or question)?
The current code doesn't follows golang proverbs or patterns. The whole code needs a refactor and rewrite using golang ideas to reduce problems and bugs.

## Do you have an idea for a solution?
Just rewrite the code.

## How can we reproduce the issue?
Take a look at the code

[2018-05-09 07:23] codingo opened #38 "Writing to a non-existent directory"
If output is specified to a non-existent directory the output write will fail with:

error : open /root/Documents/Bounties/domain.com/subdomains.txt: no such file or directory#

Output should check for the existence of a directory before running a scan, or alternatively write the directory to disk if it doesn't yet exist.

[2018-05-09 08:40] Ice3man543 commented on #38
I was thinking of the exact same thing yesterday while running my scans. Will change it now :+1:

[2018-05-09 09:21] #38 closed, assigned to nobody

[2018-05-09 09:32] Ice3man543 commented on #33
Guys, this is how this should work. I am a little busy, so i can't add it now. If anyone can do it now, it would be cool. Else, i will do it someday.

[code]

[2018-05-09 18:41] Mzack9999 commented on #7
implemented with PR #27

[2018-05-09 18:41] #7 closed

[2018-05-09 18:51] Mzack9999 commented on #34
@Ice3man543 I will work on this and push a fix

[2018-05-09 23:51] Ice3man543 commented on #34
Yeah @Mzack9999 go ahead. Create a new branch and work on it. Thanks.

[2018-05-10 02:15] christopherowen opened #39 "Error: character '<' looking for beginning of value during scans (scan still completes)"
## What's the problem (or question)?
included in the output is the following string:

   error: invalid character '<' looking for beginning of value

## How can we reproduce the issue?
1.  install golang 1.10.2 in a debian system
2. go get github.com/Ice3man543/subfinder
3. $GOPATH/bin/subfinder -d reddit.com

before the domains are output, the error message presents itself.

[2018-05-10 04:59] codingo opened #40 "Streaming Results to File"
Some scans using a domain list can take a very long time to run - if the connection drops our or the application crashes during a scan this can lead to some very frustrating results.

It would be good to have results stream to the output file as they are discovered instead of writing at the duration of the scan to help prevent these scenarios causing a loss of results.

[2018-05-10 05:02] codingo commented on #39
Am I correct in assuming that results are still outputted at the duration of the scan and that this isn't throwing an exception?

[2018-05-10 05:02] christopherowen commented on #39
correct

[2018-05-10 06:38] codingo opened #41 "Exceptionally large scan - out of memory"
On a large scan the following was encountered when trying to write out to a file at  the duration of the scan. This should probably be worked on with #40 as the solution to this likely aligns up nicely,

[code]

[2018-05-10 06:40] codingo commented on #41
For anybody currently encounting this error this can be overcome by writing out to a file directly in bash with the silent flag.

For example:

[code]

[2018-05-10 06:48] codingo commented on #39
Although I haven't tested this yet I received the following over slack, looks to be a problem with master:

[code]

[2018-05-10 06:53] codingo commented on #40
This can be done currently with a hack by doing:

[code]

And then using tail -f on the source file, for example:

[code]

This will likely be native in the future but this is the workaround for now.

[2018-05-11 20:34] Mzack9999 opened #43 "Docker build fail"
## What's the problem (or question)?
Dockerbuild fails from master branch

## Do you have an idea for a solution?
missing go get directive in dockerfile

## How can we reproduce the issue?
[code]

[2018-05-12 10:09] Ice3man543 opened #46 "Perform Recursive Wildcard Elimination"
## What's the problem (or question)?
The tool currently performs wildcard elimination but only for root domains. For example, *.luminate.com is not a wildcard while *.store.luminate.com most certainly is. Therefore, we need to perform wildcard enumeration recursively and handle such edge cases in order to save time and resources.

## Do you have an idea for a solution?
Apply Wildcard elimination l

[2018-05-15 07:43] amalmurali47 opened #47 "[signal SIGSEGV: segmentation violation code=0x1 addr=0x48 pc=0x6b096b]"
## What's the problem (or question)?

Attempting to run it for `yahoo.com` generates some errors.

I don't believe I'm having any internet issues on my computer. Other scripts that pull data from the web work fine. DNS resolution is working. No firewalls.

## Do you have an idea for a solution?

Errors should be handled gracefully. The user should not see the traceback etc. They should be logged,

[2018-05-15 08:07] Ice3man543 commented on #47
Most probably, your internet is not working correctly with SubFinder. Will look at it in a moment.

[2018-05-15 08:15] amalmurali47 commented on #47
It seems to be working now. Maybe it was some connectivity issue. Please look into this.

On a side note, I believe it should handle the errors more gracefully. Suggestions:

1. Before attempting to start getting the data from different sources, ensure that the Internet is working fine, and proceed only if it is working. This could include checking for the response codes etc. from the websites. It

[2018-05-16 01:24] codingo opened #49 "More detailed exception handling"
Currently errors are thrown up the stack for displaying which can make things confusing if a generic stack trace is shown (as in #47). My intention is to work through areas where we're currently moving errors up the stack and add more verbosity. I'll raise a separate issue after this to revisit error handling to see if this could be done more gracefully.

[2018-05-22 01:59] #39 closed

[2018-05-24 02:33] C-Sto commented on #40
Using the list option with an output file should accomplish this - at this stage it overwrites the output file every time a domain is complete.

I'm unable to test at the moment, but I think changing the open mode to 'create if not there, otherwise append' should give the desired behaviour at the completion of each domain. Won't stream as individual subs are found, though.

replace this line:
http

[2018-05-24 03:07] Ice3man543 commented on #40
Yep @C-Sto I've had that solution from some time. But only that will not solve the problem. We'd have to write each subdomain found to file at the same time it is found. We'd need a way of tracking the duplicates by maintaining a global array of subdomains found and then comparing whether the subdomain found is already in array, and if not write it to the output :+1:
Needs some work :)

[2018-05-25 14:20] Ice3man543 commented on #40
@codingo Done. Tell me what you think?

[2018-05-26 07:51] Ice3man543 commented on #6
Done

[2018-05-26 07:51] #6 closed

[2018-05-27 06:15] sl4cky opened #54 "Brute force working?"
Hi,
Great tool! thanks for sharing.
Does the brute force functionality work? It doesn't display any output and domains that this module successfully finds, and it seems to be finished quite quickly therefore I am asking. btw would a list with resolvers provide a better result when running brute force?

Thanks.

[2018-05-27 06:16] Ice3man543 commented on #54
Hi,
What command line arguments do you use to run SubFinder?
Thanks for the nice words.

[2018-05-27 15:09] sl4cky commented on #54
./subfinder -d <domain> -silent -b -w names.txt -o subfinder-output

seems like it's not performing brute force because it finish quickly. the wordlist contains 101010 prefixes.

[2018-05-27 15:17] Ice3man543 commented on #54
Try to use verbose flag to perform bruteforce. Is your text file correctly formatted? Use verbose flag and post your output here.

[2018-05-27 17:08] sl4cky commented on #54
Ohh, that fixed the problem, thanks and sorry for the bother,
It's a great tool thanks a lot! :+1:

[2018-05-27 22:48] #54 closed

[2018-05-28 00:44] samuel823 opened #55 "i have no idea how to download it"
u should make a video or something , ur explain is so bad , im sure no one can understand it .....

[2018-05-28 03:36] samuel823 commented on #55
look , in the Docker Container part, i was like what was it

[2018-05-28 03:37] Ice3man543 commented on #55
What are you facing problem with?

[2018-05-28 03:40] samuel823 commented on #55
i just dont know what to do after i download subfinder , becuase i didnt see the subfinder there , so that the mean is i cant just run ./subfinder -d (target)

[2018-05-28 03:44] Ice3man543 commented on #55
What OS are you using? How are you installing it? Provide the exact details!

[2018-05-28 04:15] codingo commented on #40
Looks like a good change, closing this issue as looks largely resolved.

[2018-05-28 04:15] #40 closed

[2018-05-28 05:10] codingo commented on #9
Ask added in #27
Baidu added in #25
Bing added in #29

Google and Yahoo can't be used without scraping which would break the TOS for both sites. Closing this issue as new sources will be added as new issues in the future, and the work that is possible here appears resolved.

[2018-05-28 05:10] #9 closed

[2018-05-28 05:12] codingo commented on #35
Also relates to #23. Both bodies of work could be done in conjunction.

[2018-05-28 15:13] samuel823 commented on #55
i got linux , the only problem is i cant run the tools with ./subfinder -d
target.com < becuase there have no subfinder dude

On Sun, May 27, 2018 at 8:44 PM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 15:20] Ice3man543 commented on #55
Do you know what gopath is? Have you installed golang?

[2018-05-28 15:21] Ice3man543 commented on #55
Try to read about golang and how to install it and write programs in it. :+1:

[2018-05-28 15:21] samuel823 commented on #55
yes , but no i didnt

On Mon, May 28, 2018 at 8:20 AM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 15:22] samuel823 commented on #55
i mean can u just give me the command like after i download golang , what
is the command with run subfinder

On Mon, May 28, 2018 at 8:21 AM, samuel wrong <raygame449@gmail.com> wrote:

[2018-05-28 15:22] samuel823 commented on #55
ty so much bro

On Mon, May 28, 2018 at 8:21 AM, samuel wrong <raygame449@gmail.com> wrote:

[2018-05-28 15:26] samuel823 commented on #55
no , i know how to download golang , dude all i need to know is the command
about run the tools

On Mon, May 28, 2018 at 8:21 AM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 15:27] samuel823 commented on #55
becuase the explain u put in the page is 100% wrong and now im asking

On Mon, May 28, 2018 at 8:26 AM, samuel wrong <raygame449@gmail.com> wrote:

[2018-05-28 15:28] samuel823 commented on #55
i mean codingo not u , and second maybe u not even better than me , so yea if u dont know anything just shut up pls...

[2018-05-28 15:39] Ice3man543 commented on #55
@samuel823 The tool repository you're currently viewing, i am the lead author of the tool. It was my idea, i worked on the major parts, created the passive engine, written 16 sources, resolver,bruteforcer, etc all by myself. And now you, who doesn't even knows how to install and run a simple golang tool, who doesn't even knows anything about golang or anything about computers says to me that i don

[2018-05-28 15:41] samuel823 commented on #55
dude are u like stupid in real life or someshjt i just need the fcking command about run the tools , i know how to donwload it , and im sure im better than u with hacking dumb ass

[2018-05-28 15:45] Ice3man543 commented on #55
@samuel823 You are a complete idiot. Can't you even see i am the owner of this repo. As far as my hacking is concerned, show me one achievement you got? I ain't gonna waste my time with scumbags like you. What do you know man? A person who can't install a simple tool is much more stupid than a person who has written that tool.

Why am i bothering myself. You are a noob and idiot and will remain so

[2018-05-28 15:47] samuel823 commented on #55
hahahahaha someone got mad

On Mon, May 28, 2018 at 8:45 AM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 15:47] samuel823 commented on #55
trashhhhhhhhhhhh

On Mon, May 28, 2018 at 8:47 AM, samuel wrong <raygame449@gmail.com> wrote:

[2018-05-28 15:50] Ice3man543 commented on #55
Yeah, unfortunately, there are people like you in this world who want results fed into their mouth without doing anything and trying to learn anything. And i really don't wanna waste my time on people like you, so Peace

- @Ice3man

[2018-05-28 15:56] samuel823 commented on #55
hahahahahah no one care about ur shjt tools and u cant even find a vuln in
any website hahahaha , trashhhhhhh

On Mon, May 28, 2018 at 8:50 AM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 15:59] Ice3man543 commented on #55
Hi,
Oh, really. If that's the case then what are you doing here?
As far as my vulnerability hunting is concerned, i have found bugs in programs.
I am not really like you to go and run `inurl:admin.php` into google and use **1'or'1'='1** without even knowing what it means.
Thanks for your concern.

[2018-05-28 16:01] samuel823 commented on #55
sorry im doing google hacking but not just like inurl:php?id= and getting
subdomain with some good tools not ur shjt tools and then web discover and
after using burp suite to check . haahahahah  im sure u dont even know what
burp suite is dumb ass lollllllllllllllllllll

On Mon, May 28, 2018 at 8:59 AM, Nizamul Rana <notifications@github.com>
wrote:

[2018-05-28 16:02] samuel823 commented on #55
im sure u just stay home making trash tools and no one care :D , that ur
life hahahah

On Mon, May 28, 2018 at 9:01 AM, samuel wrong <raygame449@gmail.com> wrote:

[2018-05-28 16:03] Ice3man543 commented on #55
@samuel823 Burp suite - the tool with the name of some guy called Larry Lau on it's title window?

[2018-05-28 17:49] zer0trip commented on #55
skids everywhere man

[2018-05-28 22:27] jhaddix commented on #55
This thread hurts my soul,

[2018-05-29 00:20] haxormad commented on #55
Damn this guy. He don't even know who ice3man and codingo are and telling himself elite lol. Skids these days

[2018-05-29 02:04] CaptainFreak commented on #55
Oh this is LOL :)))))

[2018-05-31 19:38] samuel823 opened #57 "dumb ass"
## What's the problem (or question)?

## Do you have an idea for a solution?

## How can we reproduce the issue?

1.
2.
3.
4.

## What are the running context details?

* Installation method (e.g. `pip`, `apt-get`, `git clone` or `zip`/`tar.gz`):
* Client OS (e.g. `Microsoft Windows 10`)
* Program version (see banner):
* Relevant console output (if any):
* Exception traceback (if any):

[2018-05-31 21:18] #57 closed

[2018-06-01 10:45] Rhynorater opened #58 "Doesn't export to JSON in Centos"
## What's the problem (or question)?
It appears that when you use the -oJ and the -o flag on Centos, the file doesn't write out. There are no errors, it just doesn't process the -o flag and thus doesn't write any file

However, using only -o does work.

## Do you have an idea for a solution?
As a patch, I tried to edit the go code as follows:
[code]
to
[code]

However, this did not result in any f

[2018-06-01 11:09] Rhynorater commented on #58
Just to be clear, the following command doesn't produce any file output:
```subfinder -d domain.com -o test -oJ```

[2018-06-01 11:11] Ice3man543 commented on #58
Hey @Rhynorater,
Thanks for reporting this. Can you check the directory permission and everything. Try changing the directory SubFinder is in. Also, can you tell your golang version?

[2018-06-01 11:12] Ice3man543 commented on #58
Do other output formats like text output, aquatone-style output work?

[2018-06-04 04:08] Ice3man543 opened #59 "Implement Dogpile Source"

[2018-06-04 04:08] Ice3man543 opened #60 "Implement DuckDuckGo"

[2018-06-04 04:09] Ice3man543 opened #61 "Implement Shodan Source"

[2018-06-04 04:09] Ice3man543 opened #62 "Implement Google Certificate Transparency"

[2018-06-05 18:41] Mzack9999 opened #64 "Add Stateful Browser Support (Eg. Selenium) ?"
Would improve web content retrieval when page is generated dynamically by javascript

[2018-06-06 00:29] Ice3man543 commented on #64
I wanted to add selenium but it has way too many dependencies and also increases the bulkiness of the tool. Another reason for not including it is speed. Selenium is imo spider than net/hml and regex. I believe it's speed we are looking for.

[2018-06-06 08:19] madaratech opened #65 "Implementing SubOver or similar subdomain takeover detection!"
Hello Guys!

This is already mentioned in https://github.com/Ice3man543/subfinder/issues/32#issuecomment-386851816, just creating an issue here, so it's trackable.

Best way for this would be with flag like `-takeover`  or `-to` (to == take over)

`./subfinder -d test.com -nW -takeover`

[2018-06-06 08:40] Ice3man543 commented on #65
Hey @madaratech,
I thought about it. In my honest opinion, adding takeover detection would make the tool redundant. I mean, it's a completely different task. I am currently working on other stuff. Once i get some time, probably tomorrow, i will work on the issues currently. Now, i am marking this is as possible enhancement.
Thanks you.

[2018-06-06 08:46] madaratech commented on #65
Sure, thank you.

[2018-06-06 19:17] Mzack9999 commented on #64
Some potential passive sources generate content dynamically with javascript or with user interaction (Eg duckduckgo #60 ), without a stateful browser the combo net/html + regex fails

[2018-06-07 03:48] Ice3man543 commented on #64
@Mzack9999 You're probably right. I am facing this currently while implementing Dogpile interface :)
@codingo What do you say?

[2018-06-07 14:20] Ice3man543 opened #66 "[URGENT] Bruteforce worker pool implementation does not returns results!"
Hey @Mzack9999,
The worker pool implementation you suggested does not returns result as implemented in bruteforcer. The tasks are run correctly, but it does not returns results in real time. I've taken a look and it seems to be a problem with the worker pool implementation.

Can you please take a look here. I wasn't able to understand the root cause here.
PS, do you think we should probably  migra

[2018-06-07 19:12] Mzack9999 commented on #66
@Ice3man543 I compared the [latest commit](https://github.com/Ice3man543/subfinder/blob/b501f86eb8ba2f280336892f475323760d66527e/libsubfinder/engines/bruteforce/bruteforce.go) prior to worker pools implementation and can't see big differences. Previously the Bruteforce function couldn't return before all go routines were completed, and so is now. This is the old one:
[code]
Maybe you want the resu

[2018-06-08 01:06] ZeroDot1 opened #68 "Implement ipv4info.com Source"
https://github.com/aboul3la/Sublist3r/pull/76/files

[2018-06-09 06:50] codingo commented on #66
Closed in #67

[2018-06-09 06:50] #66 closed

[2018-06-10 05:44] #68 closed

[2018-06-10 19:11] eur0pa opened #70 "missing Ipv4Info"
https://github.com/Ice3man543/subfinder/blob/4c9a99659fda90a7f20c9703121e33364be5d77c/libsubfinder/engines/passive/passive.go#L82

missing: `s.Ipv4Info = true`

[2018-06-10 20:55] ZeroDot1 opened #72 "Invalid character 'o' looking for beginning of value"
I've seen this 2 times now, is that a bug?
Screenshot:
![bildschirmfoto vom 2018-06-10 22-51-19](https://user-images.githubusercontent.com/28985171/41206215-2a1efd34-6d01-11e8-8a28-64650989f5ca.png)

[2018-06-11 01:52] Ice3man543 commented on #72
Nope. It's not. It's just a failed attempt at error handling :(

[2018-06-13 12:04] eur0pa opened #73 "Logic error in helper.Validate will produce no results when using -dL + -nW"
https://github.com/Ice3man543/subfinder/blob/1a1a183e516f4739dd7fc862583d74dfdadc36b2/libsubfinder/helper/misc.go#L71

this line will cause no results when multiple domains are specified (ie: using `-dL`), as the tool will only check them against one domain:

https://github.com/Ice3man543/subfinder/blob/af3b9442658f39f30226be0b9bdd0e42ac97ef6b/libsubfinder/engines/passive/passive.go#L357

[2018-06-15 01:50] ZeroDot1 opened #74 "Implement SecurityTrails"
This is a very effective tool, I got many subdomains in my test very quickly.
https://securitytrails.com/
https://securitytrails.com/corp/features

API DOCs:
https://securitytrails.com/corp/apidocs

Test:
https://securitytrails.com/list/apex_domain/google.com
https://securitytrails.com/list/apex_domain/coinhive.com

[2018-06-15 02:10] #74 closed

[2018-06-15 02:10] codingo commented on #74
I imagine you already figured this out (given the closure) but this is already implemented at: https://github.com/Ice3man543/subfinder/tree/master/libsubfinder/sources/securitytrails

[2018-06-15 02:13] ZeroDot1 commented on #74
@codingo I overlooked it, I'm practically completely blind, that can happen sometimes, sorry.

[2018-06-16 02:05] Ice3man543 commented on #73
Hey @eur0pa, thanks for informing me about this :+1:.
The tool at this point does not support checking multiple domains at the same time as it made the output cluttered since we have a number of output formats. It would be a lot of work to port them. Therefore, i am reluctant to work on this immediately.
Though i promise in the next v2.0 release, we'll have this feature for sure.
Thanks

[2018-06-16 13:45] #72 closed

[2018-06-16 13:45] #58 closed

[2018-06-16 16:06] #41 closed

[2018-06-16 16:06] #32 closed

[2018-06-16 16:06] #23 closed

[2018-06-16 16:07] #47 closed

[2018-06-16 16:07] #35 closed

[2018-06-18 03:45] #59 closed

[2018-06-18 12:33] si9int opened #76 "certdb.com offline"
certdb.com seems to be not accessible[1] anymore and therefor produces the following error:
[code]
[1]
[code]

[2018-06-20 02:39] Ice3man543 commented on #76
Hi, I can test and certdb seems to work for me. It maybe a problem with your internet or maybe your isp is blocking the requests.
Thanks.

[2018-06-20 12:52] sizu91 commented on #61
What's status on this, anyone working on th ?

[2018-06-20 13:56] Ice3man543 commented on #61
@sizu91 Not at the moment. But yeah, i am planning to work on it.
May i ask why?

[2018-06-21 09:17] #61 closed

[2018-06-21 09:17] #76 closed

[2018-06-21 09:18] #64 closed

[2018-06-21 09:18] #1 closed

[2018-06-22 02:07] yckyos261 opened #78 "panic while running job: runtime error: invalid memory address or nil pointer dereference"
[code]

when I run this program, the program stopped by above error.
I didn't debug your program. so I'm not sure what the real problem is.
by the way, I live in China, I guess this situation may be caused by internet firewall.

[2018-06-22 02:17] Ice3man543 commented on #78
Yeah, that's the most likely explanation of the error. If this occurs you should just use --exclude-sources flag with riddler option to ignore riddler. Anyway, I'll look into it.

[2018-06-22 03:15] yckyos261 commented on #78
Bro,
When I used --exclude-sources riddler, it's worked correctly.
About the internet firewall, it really makes me embarrassed, it causes everything is crashed.
But when I used a  socks5 proxy, the program crashed again.

[2018-06-22 03:16] Ice3man543 commented on #78
So, it means only riddler is failing?

[2018-06-22 03:20] yckyos261 commented on #78
yeap.

Nizamul Rana <notifications@github.com> 于2018年6月22日周五 上午11:16写道：

[2018-06-22 03:22] Ice3man543 commented on #78
OK, I'll try to see what's the trouble with it. Did you setup an api key for riddler?

[2018-06-22 03:31] yckyos261 commented on #78
No, I didn't.
So,  this trouble could be resolved by writing a recover() in some function?

[2018-06-22 03:37] Ice3man543 commented on #78
You need to specify the api key for riddler in order for riddler to work properly.

[2018-06-22 03:45] yckyos261 commented on #78
Ok...
if I didn't set  API key for riddler and also don't use --exclude-sources to exclude riddler.
it's should have some troubles tolerance policy. Like try-catch in other program languages.
Do you think so?

[2018-06-22 03:48] Ice3man543 commented on #78
Yeah, I think it should.

[2018-06-22 07:47] yckyos261 commented on #78
req.PostForm = form
	req.Header.Add("Content-Type", "application/x-www-form-urlencoded")
	req.Header.Add("Referer", "https://dnsdumpster.com")
	req.Header.Set("User-Agent", "Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.9.0.1) Gecko/2008071615 Fedora/3.0.1-1.fc9 Firefox/3.0.1")

	resp, err = hc.Do(req)
	if err != nil {
		return subdomains
	}
dnsdumpster.go

---
riddler.go

	// Create a post request

[2018-06-22 08:01] yckyos261 commented on #78
try sdo.com. seems to show out some garbage info.

[2018-06-22 08:02] Ice3man543 commented on #78
Thanks for this. I will try it in a moment and inform you.

[2018-06-23 14:13] Ice3man543 commented on #73
@codingo @Mzack9999 Do we really need multiple domains input? I think it will have multiple problems
1) Needs a lot of work - We'd need to figure out a way to output the results of each domain in a separate file. That sorted out, there are multiple types of output formats, we'd need to figure them out too.
2) Also, some of the functionality of each individual domain (foolishly) is stored in a Cons

[2018-06-23 14:17] codingo commented on #73
I personally use scripts for it, it allows me to use variables for my output formats (and I can always concat that way also).

I think we should focus on the UNIX model - do one thing, and do it well. If we have a separated process for handling multiple domains then it takes time away from focusing on adding more sources, improving error handling, test cases, etc'.

I'm happy to put together a wik

[2018-06-23 14:18] Ice3man543 opened #81 "Move to an organization repo?"
@codingo @Mzack9999 As discussed earlier, it's probably time to move to a dedicated subfinder repo!
I'd be happy to port it over to some organization repo. Would make collaboration more easier and decentralized?
Thoughts?

[2018-06-23 14:20] codingo commented on #81
I think that's largely your decision, but I'm ok with it. It would make it easier for others to find the project over time (cleaner urls to recall). Going to close this issue to reduce public visibility and to limit the discussion to @Mzack9999 and I (we can comment on the closed issue).

[2018-06-23 14:20] #81 closed

[2018-06-23 16:08] ZeroDot1 opened #82 "urlscan.io ?"
Is it possible to use urlscan.io to search for subdomains and include it in Subfinder?
https://urlscan.io/about-api/
https://urlscan.io/

https://github.com/heywoodlh/urlscan-py/blob/master/bin/urlscan

[2018-06-23 16:11] Ice3man543 commented on #82
@ZeroDot1 Seems like a lovely addition. Thank you for this. I will add it tonight.

[2018-06-23 16:14] ZeroDot1 commented on #82
@Ice3man543 Thank you for your good work :)
Subfinder is very good.

[2018-06-23 16:37] Ice3man543 commented on #81
@codingo Mzack9999 has already agreed to this! We are moving.

[2018-06-23 16:38] Ice3man543 commented on #82
@ZeroDot1 This service doesn't seems to give many subdomains?
It gives a few. Can you send me a link showing the pages it gives subdomains on? It would be good if you are quick.

[2018-06-23 16:44] ZeroDot1 commented on #82
@Ice3man543 https://urlscan.io/search/#page.domain%3Agithub.io

[2018-06-23 16:51] Ice3man543 commented on #82
@ZeroDot1 But this would only work if somebody had scanned it before?

[2018-06-23 16:52] Ice3man543 commented on #82
We add only those sources in subfinder which we see providing real value to the users. We don't add any source we can get without getting results. In case of urlscan.io it seems really less likely that it will hold any good subdomain data. Also, their API looks like broken.
Try this - `curl "https://urlscan.io/api/v1/search/?q=domain:google.com"`

[2018-06-23 16:56] ZeroDot1 commented on #82
Yes, only subdomains that have already been scanned are displayed.
So it is possible to find many unknown urls, because many users scan urls.

[2018-06-23 16:59] ZeroDot1 commented on #82
For Subdomains:

`curl "https://urlscan.io/api/v1/search/?q=page.domain:gitlab.io"`

[2018-06-23 17:02] ZeroDot1 commented on #82
Yes, it shows some wrong urls, :(

[2018-06-23 21:44] eur0pa commented on #73
My opinion is that I already "fixed" it with a for loop, `&` and `wait`. A doable approach to `-dL -nW` would be to do the scraping first, then the wildcard identification, then an exclusion on the results as you'd do with a `grep -Ev` really.

[2018-06-24 01:44] Ice3man543 commented on #73
Ok then we'll do it.

[2018-06-25 05:08] codingo opened #89 "New ASCII Cinema Video"
As discussed I'll re-do the ascii cinema video tomorrow to cater for new functionality, etc'.

Putting in this pull request as a reminder to do so.

[2018-06-25 05:09] codingo commented on #65
Closing this as it's not being actively worked on and we're focussing mostly on just doing subdomain enumeration as good as possible.

If this changes we'll re-open this issue in the future.

[2018-06-25 05:09] #65 closed

[2018-06-25 12:41] vincentcox opened #90 "Docker input list stops"
I am using docker to run subfinder. Individual domains are working, but inputting a list via docker is not working:

[code]

It just stops there. Any ideas?

[2018-06-25 13:20] Mzack9999 commented on #90
Thanks for reporting this @vincentcox

The issue here is that the subfinder executable is run inside the docker container, so it doesn't have access to the testdomains.txt file which resides out of it. In order to run it correctly you have first to mount the local folder into the container.
For example assuming that you are locally in the folder containing the testdomains.txt file:

[code]

then y

[2018-06-25 13:45] vincentcox commented on #90
Thanks for your detailed reply. I forgot I had to mount my folder to the docker container with the `-v` parameter. However, I used the exact command you used and it is still not working:

[code]

[code]

[2018-06-25 17:52] Mzack9999 commented on #90
I'm not able to reproduce the issue, I suppose that probably the folder is not mounted as expected due to Mingw environment. Could you try to mount with absolute path and eventually append at the end an ls command to see if the file exists where expected?
Something like this should work

[code]

[2018-06-25 17:56] anshumanbh commented on #90
@Mzack9999 Doesn't the `config.json` file also need to be provided to the container?

[2018-06-25 18:03] Mzack9999 commented on #90
Yes @anshumanbh, thanks for pointing it out. We are working to provide an official docker image with detailed instructions, right now without proper container configuration it works with direct options mainly. I was even considering docker compose to make things even easier

[2018-06-26 01:51] Ice3man543 commented on #90
@anshumanbh The installation steps for docker already detail how to setup a config file.
`sudo docker run -v
$HOME/.config/subfinder:/root/.config/subfinder -it subfinder -d freelancer.com`

[2018-06-26 04:28] kevin6868 commented on #60
LETS DO THIS

[2018-06-26 04:37] Ice3man543 commented on #60
@kevin6868 you are willing to tackle it?

[2018-06-26 08:49] codingo commented on #89
This has now been done.

[2018-06-26 08:49] #89 closed

[2018-06-26 09:49] Ice3man543 commented on #62
Done.

[2018-06-26 12:34] Ice3man543 opened #92 "Add --no-passive flag to not perform passive subdomain enumeration"

[2018-06-26 12:35] #62 closed

[2018-06-26 13:48] Ice3man543 commented on #92
Added an initial implementation (sorry @Mzack9999 It's dirty :p)

[2018-06-26 13:48] #92 closed

[2018-06-26 15:14] picatz opened #93 "cleanup output for non-configured sources that won't actually run"
## What's the problem (or question)?
The tool is telling me it's going to use resources it doesn't actually end up using or isn't configured to use. This could be confusing for people using the tool.

## Do you have an idea for a solution?
When the tool has no configuration for a given resource, don't state that resource will be used, even if it isn't ever _actually_ used.

Like, if I don't have `

[2018-06-26 15:30] Ice3man543 commented on #93
Fixed!

[2018-06-26 15:30] #93 closed

[2018-06-26 16:01] ZeroDot1 commented on #82
@Ice3man543 I sent an email to URLSCAN a few days ago, here's the answer.

[2018-06-26 16:02] Ice3man543 commented on #82
Yeah, tell them we are surely interested in that. Another good data source :)

[2018-06-26 16:35] ZeroDot1 commented on #82
It's already done.
Now we have to wait, I hope that the new function will be available soon.

[2018-06-26 16:35] picatz opened #94 "reduce/remove riddler warnings when not configured"
## What's the problem (or question)?
While doing a scan of a domain, and not currently registered with riddler.io, I am seeing a lot of errors associated with it that I don't think should be happening.

If `-recursive` is turned on, the error will show up many more times.

While this will not happen in silent mode, it seem indicative to me that the tool is wasting time contacting the service when

[2018-06-26 21:17] Mzack9999 commented on #60
Their robots.txt file seems to disallow scraping

[https://duckduckgo.com/robots.txt](https://duckduckgo.com/robots.txt)

[2018-06-27 00:44] codingo opened #97 "New Output Type for OSINT Engagement Reporting (-oI)"
When working on an OSINT engagement I want to include subdomain information in supplemental data of my reporting. I believe subfinder could provide an output type to supplement this. I would see this as working similar to the following:
[code]

For example:

[code]

[2018-06-27 00:48] codingo commented on #97
Consideration would need to be made when implementing this t hat if it is run with the -nW flag a warning should be raised that subdomains that no longer resolve will be excluded from results.

[2018-06-27 00:48] ProDigySML commented on #97
Hey @codingo! I think that is a really good idea! That would really add value and to the tool and make life a fair bit easier! Stating the source helps a tester inform where it was found and can allow further manual enumeration too.

[2018-06-27 00:54] codingo commented on #60
See: https://duckduckgo.com/api

[code]

I think this may be a no-go as I'm unsure even though we attribute the sources in our output if that can be remotely considered branding their responses.

[2018-06-27 01:52] ProDigySML commented on #94
@picatz If you use the `-Silent` flag, the error is suppressed. That might be of some help :)

[2018-06-27 07:33] vincentcox commented on #90
@Ice3man543 for me that file doesn't exist:
[code]

I read the documentation and in the post-installation section it says the following:

[code]
Unfortunately, I don't know what the parameters are to configure the settings needed to resolve this issue.

[2018-06-27 07:35] Ice3man543 commented on #90
Hey @vincentcox, sorry for that. Somehow during recent commits the config.json file got deleted by someone among us. I will push that file soon. :)

[2018-06-27 08:07] vincentcox commented on #90
Thanks for the update! Will try it with the config.json file as soon it's back.

[2018-06-27 11:09] jaikishantulswani opened #101 "waybackarchive issue"
Hello @Ice3man543 ,
Getting EOF without getting any results even when the domain have results by checking it independently.

[2018-06-27 11:17] picatz commented on #94
@ProDigySML 👍

😉 I am aware of that flag to avoid seeing the warning.  I'd just like to stop it from ever happening.

My main point is, just to clarify, the tool shouldn't be wasting time / resources in order to be most efficient.

[2018-06-27 13:21] #60 closed

[2018-06-27 13:21] codingo commented on #49
Closing this and will raise a new issue once an error design pattern has been identified.

[2018-06-27 13:21] #49 closed

[2018-06-27 13:22] #34 closed

[2018-06-27 21:54] Mzack9999 commented on #101
Thanks @jaikishantulswani for reporting this

@Ice3man543 I suppose the server reply is just too big, I think it should be implemented with pagination eg. http://web.archive.org/cdx/search/cdx?url=DOMAIN&output=json&collapse=urlkey&page=PAGENUMBER&matchType=domain according to https://github.com/internetarchive/wayback/tree/master/wayback-cdx-server

[2018-07-02 17:30] ZeroDot1 opened #103 "panic while running job"
The error just happened when I checked the URL., I hope the log and the Subfinder version I used can help to solve the problem.
[subfinder.zip](https://github.com/subfinder/subfinder/files/2156189/subfinder.zip)

[code]

[2018-07-02 17:33] ZeroDot1 commented on #103
[code]

[2018-07-03 00:22] Ice3man543 commented on #103
Remove your SubFinder directory completely from the gopath and then try again.
If your gopath is '/root/go/' then do rm -rf /root/go/src/subfinder

[2018-07-03 01:37] madaratech commented on #103
Hi @Ice3man543,

There is an issue with updating the project using `go get -u github.com/subfinder/subfinder`

[code]

`rm -rf /root/go/src/subfinder` then `go get github.com/subfinder/subfinder` worked for me.

[2018-07-03 04:29] codingo commented on #103
@Mzack9999 I think this happened when we moved your XURLS fork to be a standardised project. Any ideas?

From what I can see the solution is going to be to remove that directory and re-create it as above, can't see anything else.

Perhaps we should put an update.sh script in the main repo to handle this exception (with a prompt) but also to help with the number of  ```go get -u``` dm's / questions

[2018-07-03 07:02] eur0pa commented on #103
Can confirm this is happening to me as well on a wildcard domain, throwing panic. Removing completely and re-getting doesn't fix it

[2018-07-03 07:17] Ice3man543 commented on #103
I have no idea what is causing that trouble. Most likely explanation is that changing xurls broke things somehow?

[2018-07-03 07:20] eur0pa commented on #103
No idea either; this is what panicking on me: `subfinder -nW -o test.out -d tesla.services`

[2018-07-03 07:22] Ice3man543 commented on #103
@eur0pa reinstall the tool and then try?

[2018-07-03 07:31] eur0pa commented on #103
As I said, rm -rf + go get doesn't fix it

[2018-07-03 07:54] codingo commented on #103
@eur0pa I'm assuming you're working outside of your gopath? If so, removing the main directory is just removing this branch, not the dependencies. You need to remove the path in your gopath, and then do a fresh go get.

We're working on a more permanent solution now. We have test cases / reviewed pull requests in place to prevent this, but this was a change to an outside dependency, and we're goin

[2018-07-03 07:55] eur0pa commented on #103
No, I removed ~/go/src entirely

[2018-07-03 07:56] codingo commented on #103
I'll ping you on slack - more information will be useful for us since half the team is travelling at the moment.

[2018-07-03 08:12] Ice3man543 commented on #103
It's a problem with the shitty ssl certificate subdomains extraction code I wrote. Removing it will solve the issue.
@eur0pa try without sslcertificate

[2018-07-04 16:11] picatz opened #104 "fix imports for url extractor dependency when renamed"
## What's the problem (or question)?
I opened https://github.com/subfinder/xurls/issues/1 to keep track of renaming of the [`xurls`](https://github.com/subfinder/xurls) dependency.

## Do you have an idea for a solution?
Edit the code [where `xurls` is used](https://github.com/subfinder/subfinder/blob/96f060d00f207eb36e428c09bdec1ac71713442d/libsubfinder/helper/misc.go).

[2018-07-04 16:33] #104 closed

[2018-07-04 19:24] picatz opened #106 "fix #103"
## What's the problem (or question)?
The `sslcertificate` is causing issues. @Ice3man543 had mentioned that removing this source will fix the problem. For now, that sounds like a solid choice to me. 👌

So, this is an issue to keep track of that.

## Do you have an idea for a solution?
Remove [`sslcertificate`](https://github.com/subfinder/subfinder/blob/master/libsubfinder/sources/sslcertificates/

[2018-07-04 20:22] #106 closed, assigned to nobody

[2018-07-04 20:39] picatz commented on #103
This issue has been fixed in `v1.1.3`

@ZeroDot1 @eur0pa  🙏 Please let us know if you have any further problems.

[2018-07-04 20:39] #103 closed

[2018-07-04 22:34] picatz commented on #82
@ZeroDot1 @Ice3man543 I'm not sure what ya'll may have been seeing before, but I just got this:
[code]
[code]

[2018-07-05 13:52] ZeroDot1 commented on #103
@picatz Sorry for answering so late, it works.
[code]

[2018-07-05 21:47] riramar opened #110 "subfinder --set-config shodanApiKey=XXXXXXXXXX it doesn't work"
The command "subfinder --set-config shodanApiKey=XXXXXXXXXX" it doesn't work probably because is the last item on the config json file. Didn't check the code because I'm almost sure this is the problem. Of course we can add manually but this issue is just to let you know. Thanks a lot for the amazing tool! 👍

[2018-07-06 16:44] picatz opened #112 "fix windows colors support"
## What's the problem (or question)?
Color support doesn't work on `Microsoft Windows 10` (and probably other version).

## Do you have an idea for a solution?
Use a cross-platform color support library, or don't use color on windows.

## How can we reproduce the issue?
On windows:
1. `choco install golang`
2. `go get github.com/subfinder/subfinder`
3. `/path/to/sunfinder.exe` has broken colors

[2018-07-07 18:59] ZeroDot1 commented on #82
@picatz It is definitely possible to extract the subdomains from the Json results, but I don't know how useful this is at the moment.

[2018-07-09 18:29] SuperPHIJKLMNOP opened #114 ""runtime error: invalid memory address""
I'm getting this error when running "./subfinder -d tesla.services". I'm using subfinder 1.1.1 on macOS High Sierra. I only get this error with this domain

[code]

[2018-07-09 18:37] picatz commented on #114
@SuperPHIJKLMNOP 👋 Hello and thanks for submitting the issue!

This is actually a [**known issue**](https://github.com/subfinder/subfinder/issues/103) that has been [fixed](https://github.com/subfinder/subfinder/issues/106) in version `1.1.3`. We recommend you upgrade your installation with the following:

[code]

[2018-07-09 18:37] #114 closed

[2018-07-12 17:08] codingo commented on #97
Further to this, I think if something is found over multiple sources it should present as:

[code]

[2018-07-12 23:15] si9int opened #117 "panic while running job: runtime error"
[code]

[2018-07-13 14:44] TvMpt opened #118 "panic while running job: runtime error: invalid memory address or nil pointer dereference"
The application crashes with some domains, maybe invalid responses are not handled properly somewhere in code...

[code]

[2018-07-14 13:00] #90 closed

[2018-07-14 13:51] codingo commented on #118
Can you supply further information? The flags you were using as well as your GO version would greatly aid in diagnosing this.

[2018-07-14 17:31] #110 closed

[2018-07-15 15:19] riramar commented on #110
Thanks!

[2018-07-15 15:21] ZeroDot1 opened #122 "Subfinder Logo"
I think Subfinder should have a logo, I quickly created a simple logo.

[Subfinder_Logo_ASCII.txt](https://github.com/subfinder/subfinder/files/2195837/Subfinder_Logo_ASCII.txt)
![subfinder_logo](https://user-images.githubusercontent.com/28985171/42735394-43d328be-8853-11e8-9b89-82bb2895ad25.png)

[2018-07-16 10:35] jaikishantulswani opened #123 "Pairing subfinder with active subdomain takeover sources"
Hello @Ice3man543 ,
Integrating SubOver in Subfinder become a great combo !

[2018-07-16 10:38] codingo commented on #123
There's always the unix approach to consider - have each tool do one thing, and do it very well. Once we start integrating these kinds of features it takes aware from the core of subfinder: discovering subdomains.

I've spoken to a few people from other fields (marketing, for e.g.) using subfinder for tasks other than subdomain takeover discovery. I think that keeping this distinct difference is a

[2018-07-16 10:42] Ice3man543 commented on #123
I agree with codingo. Which is why we haven't added subover yet. And probably will not do so in future too.

[2018-07-16 11:03] codingo commented on #122
@picatz has a good proposal here: https://twitter.com/KentGruber/status/1015602133469671425

This looks like the most likely candidate at present.

[2018-07-16 11:04] codingo commented on #118
Closing this due to a lack of information. Will re-open this if that changes.

[2018-07-16 13:32] picatz commented on #122
@ZeroDot1 👋 Hello again! Thanks for taking interest in this issue. 👨‍🎨

I agree that SubFinder should have a new logo. As @codingo shared, I was also playing around with this idea. I love that you took the time to make something too. ❤️

[2018-07-17 01:15] #123 closed

[2018-07-17 09:41] AnotherWayIn commented on #118
I too am getting this since the latest update (might not be related, but it's the same on multiple instances). I'm running version go1.10.3

[2018-07-17 09:42] Ice3man543 commented on #118
@AnotherWayIn could you provide some more context? The domain you were finding, the flags you used, etc.

[2018-07-17 09:46] AnotherWayIn commented on #118
any flags really. Interestingly it only fails on certain domains e.g. bbc.com

[2018-07-17 09:52] codingo commented on #118
A bit time poor this evening so I don't have a chance to try to reproduce this. Will do so if this is still outstanding tomorrow evening.

[2018-07-17 10:01] AnotherWayIn commented on #118
no problemo. thanks

[2018-07-18 14:13] ZeroDot1 opened #124 "Add Pulsedive.com"
Pulsedive lists a lot of subdomains, and I think it would be helpful if Subfinder can also search Pulsedive for subdomains.
Example: https://pulsedive.com/browse/?q=eyJ2YWx1ZSI6ImNvaW5oaXZlLmNvbSIsInR5cGUiOlsiYXJ0aWZhY3QiLCJkb21haW4iLCJpcCIsInVybCJdLCJyaXNrIjpbInVua25vd24iLCJub25lIiwibG93IiwibWVkaXVtIiwiaGlnaCIsImNyaXRpY2FsIl0sImF0dHJpYnV0ZSI6W3siaHRtbHNhZmUiOnsidmFsdWUiOiJTdWJkb21haW4iLCJuYW1lIjo

[2018-07-18 14:30] Ice3man543 commented on #124
This seems interesting. We'll work on it.

[2018-07-22 00:39] Ice3man543 opened #125 "Implement Permutation Generation"
Implement permutations for subdomains like altdns does.

[2018-07-23 07:52] madaratech commented on #125
Good to see you guys planning to improve the active bruting as well.

Here is the [extended wordlist](https://github.com/haccer/altdns/blob/master/words.txt) I found for the AltDNS, just in case if it's helpful for this.

Also what you guys think about recursive permutation generation?

for example with the help of permutation, the tool found `abc.xyx.test.com` do you think is it a good idea to ag

[2018-07-23 09:18] bugbaba commented on #125
The major downside of permutations is **task of resolving them**.

For example there are `100` live subdomains and if we append it in this format `$var.sub.domain.tld`
It will result in `3000` subs to resolve.

So considering the number of words in list  + the permutations

It can easily reach upto 10K subs even for a regular site, resolving them might even crash the subfinder!

[2018-07-28 12:42] riramar opened #126 "net/http: TLS handshake timeout on raspberry pi"
## What's the problem (or question)?
I'm running subfinder in a raspberry pi box and for some sources I'm getting this error below:

`googleter: Get https://www.google.com/transparencyreport/api/v3/httpsreport/ct/certsearch?domain=bookingholdings.com&include_expired=true&include_subdomains=true: net/http: TLS handshake timeout`

Go is up-to-date.

[code]
From the same device I'm able to connect to

[2018-08-07 07:28] whoot opened #127 "QUESTION:"
Hey there,

in the readme you state:
**"We ensure that we abide by the terms and conditions of all sources that we query. For this reason we don't perform scraping on any site that doesn't allow it."**

However, Netcraft does not allow the usage of automated tools. The Netcraft website (https://www.netcraft.com/about-netcraft/fair-use-copyright/) states:
"_At Netcraft’s discretion any automated pr

[2018-08-07 07:51] codingo commented on #127
Thank-you for bringing this to our attention. We'll raise it in our slack and remove it if so. We've done this before when terms of service for various programs changed, which is likely what has happened here.

[2018-08-07 09:15] Ice3man543 commented on #127
Thanks for this @whoot. I removed netcraft in commit 29d7ab941e2ff28d803de102bb9775996311470c.

[2018-08-07 09:15] #127 closed

[2018-08-07 10:49] whoot opened #128 "WaybackArchive: malformed HTTP response"
Hey there,

when i run subfinder with waybackarchive, I get the following error sometimes:

## How can we reproduce the issue?
[code]

[2018-08-07 12:09] whoot commented on #127
It may also be useful to point out that some services are only intended for non-commercial use.
These include, for example:
 - certDB
 - certspotter

and others

[2018-08-07 12:15] Ice3man543 commented on #127
Hi again, I don't think this poses any risk on us (bug bounty hunters and infosec community) since we don't use it for commercial purposes. I don't think it'd be right to remove them.

[2018-08-07 12:16] Ice3man543 commented on #128
I'll check out the problem soon.

[2018-08-07 12:16] Ice3man543 commented on #128
Thanks for bringing this to attention.

[2018-08-07 12:52] codingo commented on #127
I'll review this tomorrow, I'm not sure I entirely agree with the premise at face value. This isn't commercial software, not does our license consider it so.

Principally we ensure safe usage for an individual or a tester to allow active use of this application in a marketing role or on penetration tests where other software has been adding multiple sources that directly break ToS in these uses ca

[2018-08-12 16:41] Tikam02 opened #129 "Installation error:"
OS: Kali Linux

could not install or find any subfinder directory after it's installation through go.
@Ice3man543  Please provide built and install instructions.

![sub2](https://user-images.githubusercontent.com/10548085/44004230-e5ee3c08-9e7c-11e8-91d3-d68192a78f0a.png)

[2018-08-12 18:03] picatz commented on #129
@Tikam02 👋 Hello!

If you have your `GOTPATH` properly setup and have `$GOAPTH/bin` in your `$PATH` envrioment variable, then you can just use SubFinder by calling it without the `./` part.

I suspect this is the case if `go get` works 👍

## Example
[code]

Please let me know if that does't work 🙏

[2018-08-13 17:01] Tikam02 commented on #129
Thanks for the help @picatz   yup it's working now. :+1:

[2018-08-13 17:01] #129 closed

[2018-08-13 17:03] picatz commented on #129
Awesome, glad to hear it @Tikam02!

[2018-08-16 01:04] sethsec opened #130 "debug? output in console output - #1 twice"
## What's the problem (or question)?
just downloaded for the first time tonight using git clone and then go build.
seems to be printing some debug stuff. output looks like this:

1
1firstsub.domain.com
secondsub.domain.com

## Do you have an idea for a solution?

## How can we reproduce the issue?

1. git clone https://github.com/subfinder/subfinder.git
2. cd subfinder/
3. go build
4.root@kali:/op

[2018-08-16 07:25] #130 closed

[2018-08-17 19:26] arbazkiraak commented on #118
[code]

[2018-08-17 19:34] arbazkiraak commented on #118
* Tool used to work fine but I'm getting same error since last night. I have rebooted & installed again from clone . Error remains same

[2018-08-17 19:38] arbazkiraak commented on #118
PC config :
16 Gb ram,
6 vCPUs

[2018-08-17 20:27] eur0pa commented on #118
Can confirm the same. Reverting to an older build **does not** solve the issue.

[code]

[2018-08-18 01:32] anshumanbh commented on #118
@Mzack9999 Doesn't look like the fix worked? I pulled in the latest code with the fix, built a new image and ran. I am still seeing the same error:

[code]

[2018-08-18 03:45] abiralS opened #133 "Run time error"
## What's the problem (or question)?
Run time error is thrown.

## How can we reproduce the issue?
Simply running subfinder with minimum arguments will throw the error.
`subfinder -d t.co`

* Client OS
Ubuntu

* Program version (see banner):  v1.1.3 [latest one at the time of filing the issue]

![screenshot from 2018-08-18 09-28-19](https://user-images.githubusercontent.com/41006587/44295470-1472e

[2018-08-18 04:00] Mzack9999 commented on #118
@anshumanbh could you please double check you are running the latest version, eventually trying to prune the docker images?

[2018-08-18 04:04] Mzack9999 commented on #133
Thanks @abiralS for reporting this

seems a duplicate of #118

if you are installing it via go get could you try to update the package with: **go get -u github.com/subfinder/subfinder**

[2018-08-18 04:13] abiralS commented on #133
I problem raised after updating it last night, updating it again fixed the issue.
Thanks for such a quick response.

[2018-08-18 05:44] anshumanbh commented on #118
Just sent a PR regarding the Docker build

[2018-08-18 18:10] attacker420 opened #136 "./subfinder -h commands shows error"
Dear Team,

I have installed Subfinder with these steps:

git clone https://github.com/subfinder/subfinder.git
cd subfinder
sh build.sh
go run main.go

after that when i entered ./subfinder -h it shows me this error...

./subfinder: No such file or directory

Note: Almost two days or three days ago Subfinder was working fine in my Linux OS.. But today it was throwing error and i simply deleted tha

[2018-08-18 18:18] attacker420 commented on #136
[code]

[2018-08-18 22:48] ZeroDot1 opened #137 "Recursive Doesn't Work / Subfinder upcoming 2.x itteration discussion"
I reinstalled a computer, but Subfinder does not work properly with the reinstalled Arch Linux.
[code]

[2018-08-19 14:27] picatz commented on #136
@attacker420 👋 Hello!

So it seems that `./build.sh` isn't working for you. Computers, what'a pain.

What is good though is that `go run main.go` seems to be working, in a way, so we're making progress. Great! But, how do we really fix the issue?

You could try to `build` the executable yourself. It's a command in `go`, just like `run`. So, an example would be:

[code]

If you were to now run the

[2018-08-20 10:41] codingo commented on #137
To elaborate on what @Ice3man543 said above - a new design pattern for future scalability is the most important element here. Since that deserves a longer explanation, here a quick bit of history:

When both @Ice3man543  and I started work on Subfinder we first looked at contributing to other projects and working with what existed, opening discussions where we could. Unfortunately everything out t

[2018-08-20 14:16] ZeroDot1 commented on #137
I like to use Subfinder for my work on the [CoinBlockerLists](https://zerodot1.gitlab.io/CoinBlockerListsWeb/), and it is one of the best programs in the world.
Thanks to all the developers it's just great.

[2018-08-20 14:53] whoot opened #138 "panic while"
Subfinder crashes when using a domain with a second tld.

Example:

[code]

**go version**
go version go1.10.3 linux/amd64

**OS**
Linux kali 4.17.0-kali1-amd64 #1 SMP Debian 4.17.8-1kali1 (2018-07-24) x86_64 GNU/Linux

[2018-08-20 15:06] Mzack9999 commented on #138
Thanks @whoot for reporting this.

Probably the issue is related to an outdated version of subfinder. Please ensure you are running the latest version, we recently released a fix. If you are using go get the official way to update is the following:

[code]

[2018-08-21 04:17] codingo commented on #136
Closing this due to inactivity. Please reply if you experience further issues @attacker420 and I will reopen this.

[2018-08-21 04:17] #136 closed

[2018-08-21 04:20] #122 closed, assigned to nobody

[2018-08-21 04:35] codingo commented on #137
The kind words are appreciated @ZeroDot1. I've also found CoinBlockerLists invaluable to my work on the Minesweeper BApp, thank-you for all that you do.

[2018-08-21 09:22] random-robbie opened #139 "Panic when running a job"
Request
---

[code]

Response
---
[code]

Go Version
---
[code]

Subfinder Version
---
[code]

OS
---

[code]

I've rebuilt subfinder a few times and still the same issue i am not sure why it's doing it.

[2018-08-21 09:26] random-robbie commented on #139
Same issue sorry.

[code]

[2018-08-21 10:26] Ice3man543 commented on #139
@random-robbie Please see [this](https://github.com/subfinder/subfinder/issues/137#issuecomment-414273473)

[2018-08-22 09:47] jaikishantulswani commented on #118
Getting the same issue, meanwhile the ad-hoc fix from @eur0pa is working

`2018/08/22 15:14:20 panic while running job: runtime error: index out of range
panic: runtime error: index out of range [recovered]
	panic: interface conversion: interface {} is runtime.errorString, not string

goroutine 40 [running]:
github.com/subfinder/subfinder/libsubfinder/helper.(*Pool).subworker.func1(0x19f206c0)
	/r

[2018-08-22 10:00] Mzack9999 commented on #118
@jaikishantulswani looks like you are using an old version of subfinder, please see #138

[2018-08-23 07:54] jaikishantulswani commented on #118
@Mzack9999 ,
Thanks it works but with this issue -
dnsdb: Unexpected return status 503

[2018-08-24 02:51] #118 closed

[2018-08-24 10:50] Mzack9999 commented on #118
@jaikishantulswani this is expected, please read [here](https://github.com/subfinder/subfinder/issues/137#issuecomment-414273473)

[2018-08-28 00:29] #139 closed

[2018-08-28 00:29] codingo commented on #139
Closing this as /research/ addresses it and will soon be a part of the active master.

[2018-08-28 13:00] whoot commented on #128
Still having this issue from time to time.
It seems that the response is just too big when opening the waybackarchive URL without a value for "page=".

Open in browser:
[code]
-> long loading time. Maybe a timeout is hit when using subfinder? This would at least explain the html error.

but without any problem you can access:
[code]

[2018-09-01 14:39] PjMpire opened #140 "Client.Timeout exceeded"
Im getting a tonne of these errors. and im not sure why.

At first i though it was my number of thread casuing issue so i reset to defautl but still getting same problem.

"Client.Timout exceeded while awaiting headers"

is this normal?

cheers

[2018-09-01 17:13] aSIHADHASJDADSGAJD opened #141 "subfinder is not working"
2018/09/01 17:08:12 panic while running job: runtime error: index out of range
panic: runtime error: index out of range [recovered]
	panic: interface conversion: interface {} is runtime.errorString, not string

goroutine 32 [running]:
github.com/subfinder/subfinder/libsubfinder/helper.(*Pool).subworker.func1(0xc42007aa50)
	/root/go/src/github.com/subfinder/subfinder/libsubfinder/helper/pool.go:61

[2018-09-01 17:35] HellboundTKR commented on #141
literally just started getting this error about 30 minutes ago an is the first time ive seen it

`panic: reflect: slice length out of range in SetLen [recovered]
	panic: interface conversion: string is not error: missing method Error [recovered]
	panic: interface conversion: interface {} is *runtime.TypeAssertionError, not string

goroutine 104140 [running]:
github.com/subfinder/subfinder/libsubfi

[2018-09-01 17:37] HellboundTKR commented on #140
right so I tested with a fresh VM parrotOS and all was dandy at first until about 30 minutes ago

Im not getting the same error as another user who posted an issue about the same time the error popped up issue #141

[2018-09-01 20:31] HellboundTKR commented on #140
Hi, I was getting errors whilst also getting some results. I made a fresh VM and this time it ran fine and I am not getting timeout errors anymore.

my using custom script  git pull domains into a list to be enumerated with subfinder. however I am now getting errors the same as issue #141.  Sometimes the script will run fine but if I run the same script again straight after a successful result  i

[2018-09-01 21:12] picatz commented on #141
@aSIHADHASJDADSGAJD Can you confirm you're running the latest version of subfinder?

You can try updating with;
[code]

[2018-09-02 14:13] HellboundTKR commented on #141
Found a fix for me using this automated script to update golang:

https://github.com/udhos/update-golang

USAGE:

git clone https://github.com/udhos/update-golang
cd update-golang
sudo ./update-golang.sh

Subfinder Chugs away nicely now :)

[2018-09-02 14:36] picatz commented on #141
Cool find. 👍

Going to close this issue now. 🙇

[2018-09-02 14:36] #141 closed

[2018-09-02 20:36] PjMpire commented on #140
Cheers for the help and great work btw!

Issue seems resolved now after issue  #141 fix updating golang.

This can be closed :)

[2018-09-02 21:26] #140 closed

[2018-09-02 23:15] PjMpire opened #142 "delete"
delete

[2018-09-02 23:26] #142 closed

[2018-09-14 16:02] naterobbified opened #145 "Many false positives during subdomain bruteforce all resolve to 198.105.254.11"
## What's the problem (or question)?
When I use the subdomain bruteforce functionality within subfinder, I get tens of thousands of false positives all of which resolve to the same IP address: 198.105.254.11.

## Do you have an idea for a solution?
When I navigate to http://198.105.254.11, I am redirected to searchguide.level3.com. Perhaps this has to do with the DNS resolvers used and not found d

[2018-09-14 20:46] quietsec commented on #145
Hey @naterobbified,

I actually just fixed this the other day in this pull request: https://github.com/subfinder/subfinder/pull/143

You should be able to re-install subfinder from the latest master commit by running the following command: `go get -u github.com/subfinder/subfinder`

[2018-09-14 23:35] #145 closed

[2018-09-16 02:15] quietsec opened #146 "ReconJSON output format"
Heyo,

I recently found the `ReconJSON` json schema specification, which aims to define a standard export format for recon tools -- so you could take output from one tool and pipe it into the next.

Details about the spec can be found here: https://github.com/ReconJSON/ReconJSON

Is there any interest for including `ReconJSON` as a json output format? Perhaps with a `-oRJ` flag or something like t

[2018-09-16 02:16] quietsec commented on #146
For what it's worth, I have some noob-level golang skills I've been meaning to grow. So if there is interest for including this into subfinder, I would be happy to work on an implementation for it.

[2018-09-16 02:40] quietsec commented on #146
Hey @Ice3man543,

Ah, you appear to be correct! The github issues for the ReconJSON project make things sound like most of the spec is still a work-in-progress. My mistake, I had just read a few of the files and thought they sounded reasonable -- but probably best to hold off until the spec is fully ironed out before including it here. I'll close this issue for now.

---

Also I just recently foun

[2018-09-16 02:40] #146 closed

[2018-09-16 02:41] Ice3man543 commented on #146
@quietsec Do you use slack? I can add you to our slack.
We can talk there. Honestly, github issues seem worst place to talk! :+1:

[2018-09-16 02:46] quietsec commented on #146
@Ice3man543 Yup, you should be able to invite quietsec@protonmail.com

[2018-10-13 12:45] anazu opened #147 "Invalid Argument On Some Source"
hello
when i try to Running enumeration on any domain then i get this error
some time its failed to connect shodan and some time "Ask" and some time other source
output error: connect: invalid argument

[
![capture](https://user-images.githubusercontent.com/40093902/46905571-9d984680-cf17-11e8-856e-f6b4e8e4f5ff.PNG)
](url)

[2018-10-14 15:36] Mzack9999 commented on #147
Hello @anasalzuvix , thanks for reporting this.
From the picture it looks like the issue is related to the system not being able to lookup addresses. if you execute from the shell any lookup, does it work correctly?
Eg.

`$ nslookup www.dogpile.com`

[2018-10-18 19:01] #147 closed

[2018-10-23 06:24] ZeroDot1 opened #149 "Add Support for: pkey.in and pentest-tools.com"
I don't know if these pages are very useful, but I just suggest them.
https://www.pkey.in/tools-i/search-subdomains
https://pentest-tools.com/information-gathering/find-subdomains-of-domain

[2018-10-25 11:51] Ice3man543 commented on #149
@ZeroDot1 I agree with @bugbaba. It's a commercial service + I don't know what it uses internally but I am pretty sure I used it in past and got much less results.

Thanks.

[2018-10-25 15:19] blue-bird1 opened #151 "need dockerhub images auto build"
## What's the problem (or question)?

dockerhub images not use  automated build
## Do you have an idea for a solution?

Rebuild one automated build dockerhub images
## How can we reproduce the issue?

1.docker pull subfinder/subfinder
2.found it is obsolete
3.
4.

## What are the running context details?

* Installation method (e.g. `pip`, `apt-get`, `git clone` or `zip`/`tar.gz`):
* Client OS (e.

[2018-10-27 01:42] blshkv commented on #21
so FYI, I have tried the latest snapshot 20181025. In short, it sucks (with default conf).
It takes longer than amass, it produces false positive results (returns non-existent domain) and it finds lesser. I'll stay with amass regardless of all your arguments for the time been.

[2018-10-27 08:55] Ice3man543 commented on #21
@blshkv I think that the current release is outdated and you need to go get the main repo.

Also, you are welcome to use anything you want. The community loves subfinder, we use it on bounties and that's all we need, for it to be useful to people.

Thanks.

[2018-10-27 10:15] codingo commented on #21
@blshkv,

Early into this project @Ice3man543 and I approached the AMASS project about combining forces however they were unwilling to work out of a company repository (as this now does) which didn't sit well with us. Additionally, we felt (and still feel) that a number of modules that are breaking terms of service within AMASS shouldn't exist, and decided to rewrite something that would be safe t

[2018-10-29 03:11] Attackerpentest commented on #33
Hello there, Need some help here. How can I add this? Regard. @panchocosil

[2018-10-29 03:49] blshkv commented on #21
Hi guys, thank you for all your replies and my apologies for my provocative previous post. Perhaps, you need to look at my comment from a user prospective. I work 20 years in security and got sick and tired of small "one-day-super" tools which keep poping up and dyeing after few months/years. I have been contributing to all these tools and was feeling bad after a next tool lost a support. Now, I d

[2018-10-29 09:29] Ice3man543 commented on #33
I gave an example above. If you have futhur questions, please comment!

[2018-11-26 08:02] icezhaoL opened #152 "-ot aquatone result last domain result will be Overwrite previous domain name results"
-ot aquatone result    last domain result will be Overwrite previous domain name results

[2018-11-30 15:21] xhzeem opened #153 "Can't build the package"
I'm getting this error
[code]

[2019-01-14 06:46] Iamanoobs opened #155 "Crtsh error"
**HI.** Been using subfinder for many months now. Tried updating it recently and I think it is getting crt.sh error. No crt.sh are also showing in the result (running source)

 I am getting this error:

`crtsh: json: cannot unmarshal array into Go value of type crtsh.crtshObject`

Thanks

[2019-01-16 00:51] rulin132 commented on #137
Totally understand that you guys are maintaining this project in your spare time, but it's been nearly 5 months that v2 was to be rolled out.

Is it possible to dedicate a week or so just fix some of the issues in v1? That would be greatly appreciated if possible.

[2019-01-16 01:15] Ice3man543 commented on #137
Hi @rulin132, I am currently a bit busy with exams and life. I know the issues with V1, and want to fix them too. I advice you to use subfinder v2 for some time. In 2 months, a major rewrite is coming for sure.
Thanks for your support!

[2019-01-16 10:11] Iamanoobs commented on #155
dnsdb error (503) also occurs, is it my internet connection fault?

[2019-01-28 01:42] ggranjus commented on #155
For crtsh, the source output has changed: https://github.com/subfinder/subfinder/pull/156

[2019-01-31 05:08] amalmurali47 opened #157 "Better error handling"
## What's the problem (or question)?

I would prefer a less-detailed, and better-formatted error message in case of failures/exceptions.

## How can we reproduce the issue?

When you run subfinder with `subfinder -d domain.com`, you might sometimes see the following errors:

[code]

Most people don't care about these messages. The ones that do can enable the verbose mode and get the detailed messa

[2019-02-24 16:39] garherx commented on #153
I have exactly the same issue. For God I can't get solution

[2019-02-24 16:43] Ice3man543 commented on #153
Can you try running `go get` in the directory and then try building the package?

[2019-02-24 17:26] garherx commented on #153
okay, I've made it through. I have completely removed golang (u have to do this properly, all files), installed it from golan.org (https://golang.org/doc/install?download=go1.11.5.linux-amd64.tar.gz), cloned subfinder again and add export PATH=$PATH:/usr/local/go/bin . Now it works perfectly.

[2019-02-25 01:57] Ice3man543 commented on #153
Closing this as solved.

[2019-02-25 01:57] #153 closed

[2019-02-28 17:40] ZeroDot1 opened #159 "waybackarchive: invalid control character in URL"
`waybackarchive: parse http://web.archive.org/cdx/search/cdx?url=*.coinwebmining.com/*&output=json&fl=original&collapse=urlkey&page=: net/url: invalid control character in URL`

And:
`ipv4info: <nil>`

And:
`dnsdb: Unexpected return status 503`

And:
`baidu: unexpected EOF`

Is it possible to fix the bugs in the future?

[2019-03-01 00:00] Ice3man543 commented on #159
Yep, will do them real soon. Thanks for creating the issue.

[2019-03-01 00:11] ZeroDot1 commented on #159
@Ice3man543  Thank you very much, Subfinder is one of the most used programs for my research work, and I appreciate it very much.

[2019-03-01 19:27] oldesec opened #160 "[Question] Invalid URL"
Hello.

When sub domain is collected by executing "subfinder", some invalid URLs are collected.

The first "." Is included.

My command line
[code]

Example)
[code]

Thanks.

[2019-03-23 18:42] lc opened #161 "DNSDB Source no longer works"
## What's the problem (or question)?
The [endpoint](https://github.com/subfinder/subfinder/blob/master/libsubfinder/sources/dnsdb/dnsdb.go#L32) subfinder requests on DNSDB now always responds with an unexpected response due to their CloudFlare implementation

## Do you have an idea for a solution?
Not at the moment.

## How can we reproduce the issue?
1. Visit: https://github.com/subfinder/subfind

[2019-03-26 13:45] Ice3man543 commented on #161
Hi @C0RB3N,

DNSDB has added CloudFlare as you said that causes  the tool to fail parsing it.

Thanks for notifying us, should be removed soon. Things have been delayed much due to life :)

[2019-03-27 04:52] Ice3man543 commented on #157
Hi @amalmurali47 ,
This is a very good issue, I've just got the time to work on this project, will keep you updated about new developments.

Thanks for this.

[2019-03-28 11:39] marataziat opened #162 "Api key load balancing."
You can always register free Censys key, But per month one free account can send only 1000 queries! For an example:
censysApis: ['key1', 'key2']
and subfinder will balance queries between them by using round robin algorithm!

[2019-03-29 07:09] codingo commented on #162
We've always gone for a ToS abiding policy to make this safe for usage in pentesting, or professional circumstances. This  couldn't be farther from that, and I would advise purchasing a Censys subscription if you require more requests.

[2019-03-29 07:09] #162 closed

[2019-03-29 16:23] ghost opened #163 "Add ready to use builds like Appimages, exe, deb?"
## Do you have an idea for a solution?
Make .travis? Can I do this? Which CI system do you prefer?

[2019-03-30 04:53] marataziat commented on #163
https://github.com/milo2012/pathbrute/blob/master/goreleaser.yml - for an example

[2019-03-30 05:09] marataziat commented on #163
https://goreleaser.com/ you an use it! You just need to run:
[code]
And configure some CI https://goreleaser.com/ci/

[2019-03-30 09:21] Ice3man543 commented on #163
Yeah, you can do this. And goreleaser is cool.

[2019-03-31 20:08] marataziat commented on #163
Yeah, we just need to run `goreleaser` on travis and set your releases api token on your travis account and it will works!

[2019-04-01 09:58] marataziat commented on #163
#164 Made it

[2019-04-03 05:08] marataziat commented on #124
Can I do this?

[2019-04-03 05:09] Ice3man543 commented on #124
@marataziat sure, you can do this

[2019-04-19 14:38] zhenyanhuhashi opened #165 "Failure to install properly"
![image](https://user-images.githubusercontent.com/43715449/56428859-76ba3300-62f3-11e9-8d64-051a9d8fb852.png)

![image](https://user-images.githubusercontent.com/43715449/56428902-9b160f80-62f3-11e9-8b88-20a460b19345.png)

Failure to install properly
https://github.com/golang/dep/cmd/dep
have been deleted

[2019-04-23 22:17] DannyCork opened #166 "config.json remains empty"
## What's the problem (or question)?
Subfinder doesn't add a config to config.json . I tried with multiple sources, Shodan, Censys etc.. doesn't matter which one.

## Do you have an idea for a solution?
nope.

## How can we reproduce the issue?

`
$go run main.go --set-config ShodanAPIKey=xxx
===============================================
-=Subfinder v1.1.3 github.com/subfinder/subfinder
========

[2019-05-02 19:50] jaherne commented on #161
It looks like dnsdb exposes an API at https://api.dnsdb.info/, but this requires an API key. It might be worth exploring adding support for that similar to the Shodan source. Or dnsdb can just be removed entirely.

[2019-05-05 17:25] BigB86 commented on #159
I would like to report this issue is still happening. Will this be fixed? I also have various other issues:
`dogpile: Get https://www.dogpile.com/search/web?q=SITE.com.sg&qsi=1: EOF`

`threatcrowd: Get https://www.threatcrowd.org/searchApi/v2/domain/report/?domain=SITE.com.sg: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`
`threatminer: Ge

[2019-05-21 11:04] phackt opened #167 "[Enhancement] Take last commoncrawl index"
Hello,

It's more a suggestion than an issue. I have recently installed subfinder and as a passive source, i saw ```commoncrawl```.

However, subfinder is requesting the following index:  ```http://index.commoncrawl.org/CC-MAIN-2017-43-index```. Last one is ```CC-MAIN-2019-18-index```. It could be great to find a way to automatically take the last one.

I also have a look how to do this.

Cheer,
G

[2019-06-27 12:47] whoot commented on #159
+1 I´m also still getting the 'waybackarchive: invalid control character in URL' error

[2019-06-27 13:57] whoot opened #168 "Hackertarget Error"
## What's the problem (or question)?
When using a subdomain for enumeration, the request to hackertarget fails.

## Do you have an idea for a solution?
Either use only the domain and not an additional the subdomain when requesting hackertarget
or skip the test of hackertarget (as it may produce false positives).

## How can we reproduce the issue?
1. Make request to 'https://api.hackertarget.com/h

[2019-06-27 17:13] ZeroDot1 commented on #168
I can confirm the problem, I get this error with different URLs.

Hi @codingo @picatz @Ice3man543,
Is it possible to solve the problem?, and when will the long announced update come?
I use Subfinder daily and appreciate it very much, I would be very happy about an update...
Thank you for your good work!

[2019-06-27 17:17] Ice3man543 commented on #168
Hi @ZeroDot1, I am aware of the current issues in subfinder and am working on something much better than the original subfinder, just you know life's life, got busy in some other stuff, so not able to dedicate enough time on this. I promise, in upcoming months, we'll release many great things. You people won't be disappointed for sure!

[2019-06-27 17:23] ZeroDot1 commented on #168
Hi @Ice3man543,
Thank you very much for your quick answer, I appreciate your work very much, keep up the good work!
We should make an update for the earth so that one day has 48 hours, then we could do more good things... :D

[2019-06-27 17:25] Ice3man543 commented on #168
@ZeroDot1 seriously, I would love it so much. So much to do, so little time ;)

[2019-06-28 02:14] Ice3man543 commented on #167
Hi, this is a good point, it'll be added in the next update.

[2019-07-01 14:17] abdilahrf commented on #159
Yes this errors seems still exists

[2019-07-12 12:32] hazcod opened #170 "No subdomains found"
## What's the problem (or question)?
I am trying to enumerate the subdomains for `venclave.com`, but no domains are found.

## Do you have an idea for a solution?
No idea.

## How can we reproduce the issue?
[code]

My config:
[code]

## What are the running context details?
* Installation method: go module
* Client OS: macOS
* Program version (see banner):  v0.0.0-20190708194656-3439a39acc81
* Re

[2019-07-12 12:59] hazcod commented on #170
I didn't set `s.State.Sources = "all"`

[2019-07-12 12:59] #170 closed

[2019-07-19 05:12] UbaidAhmed2803 opened #171 "Unable to find image 'subfinder:latest' locally"
After doing `docker build -t subfinder`, I got following
[code]

However when I try to do `docker run -it subfinder` I get the following error.
[code]

Please help me out in resolving it.

[2019-08-22 02:22] 4k4xs4pH1r3 opened #172 "Bruteforcing | Only If the subdomains list is very large fails"
## What's the problem (or question)?

When use `-w /usr/share/wordlists/dnsmap.txt`

Only If the subdomains list is very large appear this=

## Do you have an idea for a solution?
Reproduce the issue at your side and debug.

And Set the feature for use all the wordlists like= `-w /usr/share/wordlists/*.*`

## How can we reproduce the issue?
1. Execute

` ~/go/bin/./subfinder --recursive -d domain.

[2019-09-18 17:41] jenetiks opened #173 "Demo video link busted"
Demo video no longer hosted on asciinema.

[2019-09-20 06:04] pager5Cx415Cx415Cx69 opened #174 "compile: version "go1.12.6" does not match go tool version "go1.12.9""
compile: version "go1.12.6" does not match go tool version "go1.12.9"
What to do. How to solve this issuse.??
Without downgrade is their any solution.

[2019-10-06 08:10] phspade opened #175 "subfinder -recursive mode"
subfinder recursive mode infinite loop when it will be over? it lacks of an option that it should limit or has a time that when it will over.

[2019-10-16 13:12] maverickNerd opened #176 "panic while running job: runtime error: index out of range [0] with length 0"
Installed subfinder both with go and git clone master branch:

# go get -u github.com/subfinder/subfinder

# subfinder -d yahoo.com
===============================================
-=Subfinder v1.1.3 github.com/subfinder/subfinder
===============================================

Running Source: Ask
Running Source: Archive.is
Running Source: Baidu
Running Source: Bing
Running Source: CertDB
Running

[2019-10-16 13:49] ddervosj commented on #176
+1 having the same issue...

[2019-10-16 14:22] R34LUS3R opened #177 "Error while running"
### Subfinder was working pretty fine about 3 days ago now I am getting this error

Note: I have tried it on 3 different instances and I am having this error on every single on of them.
Also removed and reinstall via go get and docker but same error.

$ uname -a
```Linux username 5.2.0-kali3-cloud-amd64 #1 SMP Debian 5.2.17-1kali1 (2019-09-27) x86_64 GNU/Linux```

$ go version
```go version go1.12

[2019-10-16 22:23] VictorAlonsoCM commented on #177
I have the same issue

[2019-10-17 01:10] MRSM1L3S commented on #177
Same

[2019-10-17 01:16] VictorAlonsoCM commented on #177
This works for me: **--exclude-sources dnsdumpster**

[2019-10-17 02:29] MRSM1L3S commented on #177
Agreed, I also applied PR #178 as I was running into the errors listed there _after_ applying your recommendation. Anyways, thanks for sharing this important tip, take care!

[2019-10-17 04:04] realuser07 commented on #177
Yup, It's working for me also with this flag: ```--exclude-sources dnsdumpster```
Thanks @VictorAlonsoCM

[2019-10-17 12:57] ZeroDot1 commented on #177
I have the same issue

[2019-10-17 13:08] Ice3man543 commented on #177
I'll take a look into it just now

[2019-10-17 13:09] Ice3man543 commented on #176
It seems related to #177 , closing this and working on that one

[2019-10-17 13:09] #176 closed

[2019-10-17 13:18] Ice3man543 commented on #177
Hi, this should be fixed with PR #179.

Within a month, a new version of subfinder is coming with a lot of performance improvements, better code, etc. It's been in dev for months and is way better. Sadly, i've been stuck in some other stuff, hope to release it soon for the community to use and enjoy!

[2019-10-20 11:13] bughunterp0 opened #180 "Error"
===============================================
-=Subfinder v1.1.3 github.com/subfinder/subfinder
===============================================

Running Source: Ask
Running Source: Archive.is
Running Source: Baidu
Running Source: Bing
Running Source: CertDB
Running Source: CertificateTransparency
Running Source: Certspotter
Running Source: Commoncrawl
Running Source: Crt.sh
Running Source: Dnsdb

[2019-10-21 06:19] g33kyshivam opened #181 "List of resources not working!"
## What's the problem?
I just saw that there is some issue with some different sources and it seems like one of us could fix it so thought to list down all the sources which have some issues!

## List of the issues with the error message!

1. **dnsdb**: Unexpected return status 404
2. **waybackarchive**: parse http://web.archive.org/cdx/search/cdx?url=*.example.com/*&output=json&fl=original&collap

[2019-10-24 21:54] averonesis commented on #180
the same

[2019-10-24 21:56] bughunterp0 commented on #180
Waiting for solution

[2019-10-26 13:34] bughunterp0 commented on #180
Remove every thing. And Update Go . Install subfinder again it rocks

[2019-10-27 03:52] BugMines commented on #181
I'm getting the same problem. Some index out of range error:

dnsdb: Unexpected return status 404
2019/10/27 09:16:58 panic while running job: runtime error: index out of range
panic: runtime error: index out of range [recovered]
	panic: interface conversion: interface {} is runtime.errorString, not string

goroutine 13 [running]:
github.com/subfinder/subfinder/libsubfinder/helper.(*Pool).subworke

[2019-11-13 20:50] m4udSec opened #182 "riddlers api key !"
the register part of the website is disabled, so it appear to have been acquired by F-Secure, wich seems to have its own api,  one thing is certain, i wasn`t able to get anywhere near an riddlers api key, would there be an alternative path to get my hands in one of those keys ?

thanks for this awesome project !

[2019-11-18 06:45] soupnatzi opened #183 "issue while running subfinder"
panic: runtime error: index out of range

i keep getting this issue was wondering if anyone has come across this and fixed i?

goroutine 24 [running]:
github.com/Ice3man543/subfinder/libsubfinder/sources/dnsdumpster.Query(0xc00010a2c0, 0xc0000ac300)
	/root/go/pkg/mod/github.com/!ice3man543/subfinder@v0.1.1/libsubfinder/sources/dnsdumpster/dnsdumpster.go:58 +0xec3
created by github.com/Ice3man543/s

[2019-11-28 01:55] shamrocksu88 commented on #180
Tried that didn't help. Would be great if someone could help out on this. Am using the latest version of Subfinder and Go.
cc: @Ice3man543

[2019-12-03 12:16] Ice3man543 commented on #183
Fixed in latest version!

[2019-12-03 12:16] #183 closed

[2019-12-03 12:17] Ice3man543 commented on #181
Hey, thanks for the heads up. All these will be fixed in the recent release coming soon!

[2019-12-03 12:17] #181 closed

[2019-12-03 12:17] Ice3man543 commented on #180
Hey, it's been fixed in the latest version! Try go get again!

[2019-12-03 12:17] #180 closed

[2019-12-03 12:18] Ice3man543 commented on #177
It's been fixed! Let me know if anyone else has the same issue

[2019-12-03 12:18] #177 closed

[2019-12-03 12:19] Ice3man543 commented on #172
Hey, subfinder is not really the ideal solution for DNS bruteforce. I'll suggest looking into gobuster or massdns! Subfinder is more of a passive subdomain enumeration tool. Thanks for understanding.

Closing this issue now! If you have any other questions, please don't hesitate to ask!

[2019-12-03 12:19] #172 closed

[2019-12-03 12:20] Ice3man543 commented on #168
Hey, as far as i am aware, hackertarget doesn't allows recursive enumeration, hence the issue. This is not possible to fix in subfinder, so closing this issue now. Thanks for understanding!

[2019-12-03 12:20] #168 closed

[2019-12-03 12:21] Ice3man543 commented on #161
Hey, this is getting deleted in the future. Closing the issue now!

[2019-12-03 12:21] #161 closed

[2019-12-03 12:21] Ice3man543 commented on #160
Hey, thanks for notifying. This will be fixed in the recent edition.

[2019-12-03 12:22] Ice3man543 commented on #155
Hey, this has been fixed! Thanks for notifying

[2019-12-03 12:22] #155 closed

[2019-12-03 12:23] Ice3man543 commented on #149
Closing this issue now as both are commercial services and don't offer much in terms of good results!

[2019-12-03 12:23] #149 closed

[2019-12-03 12:24] Ice3man543 commented on #125
Hey, goaltdns is what i recommend for alteration. Closing this issue now as this is outside the scope of subfinder.

[2019-12-03 12:24] #125 closed

[2019-12-03 12:25] Ice3man543 commented on #33
Closing this as its outside scope of subfinder!

[2019-12-03 12:25] #33 closed

[2019-12-03 18:53] Ice3man543 commented on #82
@ZeroDot1 its been done in the new version coming soon! Closing this now!

[2019-12-03 18:53] #82 closed

[2019-12-04 15:29] whoot commented on #168
uhm.. well maybe you should at least fix subfinder in order to circumvent the error...
as already mentioned:
Either use only the domain and not an additional the subdomain when requesting hackertarget
or skip the test of hackertarget (as it may produce false positives).

[2019-12-04 23:43] ChrisDryden opened #185 "Adding package vendoring"
## What's the problem (or question)?
I'm trying to add Subfinder to Homebrew and one of the requirements for new formulas is that all go project dependencies need to be vendored
https://github.com/Homebrew/homebrew-core/pull/47499

## Do you have an idea for a solution?
If you are interested in doing this I can make the PR to add a /vendor/ folder with the dependencies

[2019-12-05 11:51] Ice3man543 commented on #174
Hey, the newest release solve this issue! Closing this now.

[2019-12-05 11:51] #174 closed

[2019-12-05 11:52] Ice3man543 commented on #173
Thanks for notifying! Fixing this ASAP!

[2019-12-05 11:52] #173 closed

[2019-12-05 11:52] Ice3man543 commented on #171
Hey, this should be fixed in latest version! Please run the new changes. If it doesn't work, feel free to reopen the issue.

[2019-12-05 11:52] #171 closed

[2019-12-05 11:52] Ice3man543 commented on #167
Hi, this has been fixed. Please checkout the latest version of subfinder

[2019-12-05 11:52] #167 closed

[2019-12-05 11:53] Ice3man543 commented on #166
Hey, this should be fixed in the new version! Closing this now.

[2019-12-05 11:53] #166 closed

[2019-12-05 11:53] Ice3man543 commented on #165
Hey,  afaik dep does exists! It maybe a problem with your network. Feel free to reopen this issue. Closing it as i wasn't able to reproduce the issue!

[2019-12-05 11:53] #165 closed

[2019-12-05 11:54] Ice3man543 commented on #163
Working on it now! Thanks for notifying!

[2019-12-05 11:54] Ice3man543 commented on #160
Hey, this has been fixed in the latest edition!

[2019-12-05 11:54] #160 closed

[2019-12-05 11:55] Ice3man543 commented on #185
Hey, dep does exists in the repo. It is generally a bad idea to have /vendor folders in the repo. Not sure how to proceed here.

[2019-12-05 11:55] Ice3man543 commented on #182
Hey, i am not sure how i can help with this issue. Riddler has been removed from the list of sources. Closing this issue now!

[2019-12-05 11:55] #182 closed

[2019-12-05 11:56] Ice3man543 commented on #175
Hey, recursive mode has been removed from the latest release. We figured giving the user control was more important. If users demand, we may add it in the future. Closing this issue now!

[2019-12-05 11:56] #175 closed

[2019-12-05 11:57] Ice3man543 commented on #112
Hey, this should be fixed in the latest release. Closing this now!

[2019-12-05 11:57] #112 closed

[2019-12-05 11:58] Ice3man543 commented on #97
Hey, i don't believe this would be useful for general people. Also, it would require too much work to be implemented. Hence closing this issue now. Feel free to reopen it!

[2019-12-05 11:58] #97 closed

[2019-12-05 11:58] Ice3man543 commented on #46
Closing this as its out of scope for this project!

[2019-12-05 11:58] #46 closed

[2019-12-05 11:59] Ice3man543 commented on #126
Hey, not sure why it doesn't work. Can you try with the latest release. Please feel free to reopen the issue if it doesn't works!

[2019-12-05 11:59] #126 closed

[2019-12-05 12:00] Ice3man543 commented on #137
Hey, the latest version has been released, after long time! Kindly check it out. Closing this issue now!

[2019-12-05 12:00] #137 closed

[2019-12-05 12:00] Ice3man543 commented on #151
@janmasarik how would this be done! I would love some help on this issue!

[2019-12-05 12:01] Ice3man543 commented on #152
Hey, this option has been removed from the latest release as aquatone now accepts raw subdomains. Closing this now!

[2019-12-05 12:01] #152 closed

[2019-12-05 12:01] Ice3man543 commented on #157
Hey, hopefully this has been fixed in the latest edition. Check it out!

[2019-12-05 12:01] #157 closed

[2019-12-05 12:02] Ice3man543 commented on #159
Hey, can you check this again if it has been fixed?

[2019-12-05 12:04] Ice3man543 commented on #124
Hey @ZeroDot1, not sure how effective it is and how it works! If you can provide some more info, i can work on this!

[2019-12-05 15:03] janmasarik commented on #151
I would love to help, but you should be the owner of the dockerhub account as people will put implicit trust to it, and I cannot help with this without access to the account.

The flow is described in https://docs.docker.com/docker-hub/builds/#tag-and-branch-builds is actually pretty straightforward. Just open an dockerhub account and follow the steps described.

E.g. for https://github.com/janmas

[2019-12-05 17:19] Ice3man543 commented on #151
Hey @janmasarik, thanks for the quick reply. I'll implement it asap.

[2019-12-05 18:55] ChrisDryden commented on #185
sweet, I added dep and it works

[2019-12-05 19:11] nocomp opened #188 "panic: runtime error: index out of range [recovered]"
hi,
thxx a lot for this great tool,
just gave it a try, no issues for the install, but got an error when tryin for the first time.
here are the logs, hope it ll help you
keep it up!!

 subfinder -d jet.com -v

Running Source: Ask
Running Source: Archive.is
Running Source: Baidu
Running Source: Bing
Running Source: Censys
Running Source: CertDB
Running Source: CertificateTransparency
Running Source

[2019-12-05 21:34] Ice3man543 commented on #188
Hey, kindly update the subfinder version you're using. Update instructions can be found in the readme. the latest is v2.0. I'd recommend you to try that!

[2019-12-05 21:34] #188 closed

[2019-12-05 21:35] Ice3man543 commented on #185
Nice, that's really great!

[2019-12-06 08:01] Ice3man543 commented on #151
Hey @janmasarik, just added the dockerhub integration. Check it out - [https://hub.docker.com/r/ice3man/subfinder](https://hub.docker.com/r/ice3man/subfinder)

[2019-12-06 08:01] #151 closed

[2019-12-06 08:02] Ice3man543 commented on #185
Closing this now as fixed. Feel free to reopen in case there is anything else!

[2019-12-06 08:02] #185 closed

[2019-12-06 08:28] Ice3man543 commented on #163
Added prebuilt binaries, check them out at [https://github.com/projectdiscovery/subfinder/releases/tag/v2.0](https://github.com/projectdiscovery/subfinder/releases/tag/v2.0)

[2019-12-06 08:28] #163 closed

[2019-12-06 11:27] Ice3man543 opened #190 "Consider using semantic versioning + gomodules as that is the standard"
- [ ] GoModule support
- [x] Semantic Versioning

[2019-12-06 13:58] cybercdh opened #192 "censys API keys are printed to stdout"
It seems when providing an API key and Secret for censys, these are printed to stdout and would appear in any output log file:

			fmt.Printf("%s %s\n", session.Keys.CensysToken, session.Keys.CensysSecret)

[2019-12-06 14:01] Ice3man543 commented on #192
Hey, thanks for notifying! Somehow that escaped from the final phases. Fixing it now!

[2019-12-06 14:03] #192 closed

[2019-12-06 14:03] Ice3man543 commented on #192
Done, let me know if you face this again

[2019-12-06 14:04] cybercdh commented on #192
wow - quick turnaround!! nice work. amazing project.

[2019-12-06 14:11] Ice3man543 opened #194 "Create interface for test cases using mocks"
## What's the problem (or question)?
Add test cases to sources using the interface abstraction and mocks as introduced by @tevino in PR #189.

[2019-12-08 17:13] janmasarik commented on #151
Nice one 👍, ty!

[2019-12-09 01:33] shamrocksu88 commented on #180
@Ice3man543 Looks fixed now, appreciate it. Tried with binary as well as build.

One thing I noticed is looks like most of the time HTTP timeout is stopping the scan instead of just skipping the source.

Example:

[WRN] Could not run source digicert: Get https://ssltools.digicert.com/chainTester/webservice/ctsearch/search?keyword=hackerone.com: net/http: request canceled

After this, scan stops do

[2019-12-09 06:21] MilindPurswani opened #197 "Error while compiling the binary"
## What's the problem (or question)?
I am facing the following errors while compiling subfinder from the binary directly using the following command.

[code]

The Error:

[code]
I also tried running:

[code]
and faced the same error

## How can we reproduce the issue?
1. Try installing subfinder from `go install github.com/projectdiscovery/subfinder/cmd/subfinder/` or issuing following command `go

[2019-12-09 07:20] carryshen opened #198 "can‘t run in windows10"
I've downloaded latest release subfinder-windows-amd64.exe.tar, but can't run subfinder-windows-amd64.exe because "the application is not able to run in your computer", the system is windows10, can you tell me how to deal with it, thank you.

[2019-12-09 09:15] Ice3man543 commented on #197
Hey @MilindPurswani, it seems like you are running an outdated go installation. Can you run `go version`.

In general, I'd recommend go 1.13+. Let me know if updating solves the issue for you.

[2019-12-09 13:10] bauthard commented on #198
I can confirm the issue, got the following error on 64 bit machine `"subfinder-windows-amd64.exe is not compatible with the version of Windows you're running. Check your computer's system information and then contact the software publisher."`

[2019-12-09 15:32] MilindPurswani commented on #197
@Ice3man543,

Thanks for reverting back so soon. You are correct. I was relying on go 1.11.13 till now.

After a simply updating go from  [here](https://gist.github.com/nikhita/432436d570b89cab172dcf2894465753#gistcomment-2350191), I was able to install it successfully.

You may close it 👍

Regards,

-Milind

[2019-12-09 15:42] Ice3man543 commented on #197
Nice to hear you fixed it. Closing the issue now.

[2019-12-09 15:42] #197 closed

[2019-12-10 06:10] ujjwalsinha commented on #159
Hi,
I am receiving this error with the latest version of subfinder - this is similar to one above. Please look into this.

[code]

[2019-12-10 07:49] bauthard commented on #159
Hey @ujjwalsinha,

As per the CLI output, you are running the older version of the subfinder, please make sure to install the latest version from [here](https://github.com/projectdiscovery/subfinder#direct-installation) or download the latest binary from [here](https://github.com/projectdiscovery/subfinder/releases/tag/v2.0).

[2019-12-10 12:00] ZeroDot1 opened #199 "Results cannot be saved to a single file."
## What's the problem (or question)?
I want to save all subdomains found in a single file not for each domain a file.
Unfortunately this is not possible.

## How can we reproduce the issue?
`$ cat 'URLsToScan1.txt' | '/bin/subfinder' -silent -oD /Dokumente/URLsToScanDONESF.txt`

[2019-12-10 12:08] ZeroDot1 commented on #124
I recommend you look at the API: https://pulsedive.com/api/
https://github.com/viiftw/pulsedive-go

[2019-12-10 12:12] aishukc opened #200 "Source CertSpotter throwing issue"
Running the tool as following throws error on certain domain.
`subfinder -d domain.com`

[code]

I think the error is thrown when certspotter does not return any data.

## How can we reproduce the issue?
1. To reproduce the issue try running the tool against non existing domain  (issue also occurs with existing domain though)
`subfinder -d a33weasdlsdf23wedsaaaaaaaaa.com`

## What are the running

[2019-12-10 12:16] ZeroDot1 commented on #199
And I see some error messages:
[code]

[2019-12-10 13:16] Ice3man543 commented on #159
Closing the issue now!

[2019-12-10 13:16] #159 closed

[2019-12-10 13:21] Ice3man543 commented on #199
Hey @ZeroDot1,

Regarding error messages, let's detail each one of those -

1. `[WRN] Could not run source digicert: Get https://ssltools.digicert.com/chainTester/webservice/ctsearch/search?keyword=0769.it: net/http: request canceled (Client.Timeout exceeded while awaiting headers)` -> This one is regarding a timeout with digicert not being reachable. Can you do a curl to the site. It seems someti

[2019-12-10 13:22] Ice3man543 commented on #200
Hey @aishukc,
Nice catch. I'll see if i can reproduce and fix this asap.

[2019-12-10 17:23] ZeroDot1 commented on #199
digicert.com often doesn't answer because my internet connection is too slow.

ipv4info, Yeah, that's okay.

Thank you very much for your work, I appreciate it very much, keep up the good work.

[2019-12-11 12:20] bugbaba opened #201 "[Request] Add the bruteforce module back in subfinder"
Hi :)

## What's the problem (or question)?
I have been using subfinder for bruteforcing subdomains, But in the recent update `2.0` bruteforce module has been removed from the subfinder.

## Do you have an idea for a solution?
The old bruteforce module is pretty robust so implementing that back would also work.

--
Regards,
bugbaba

[2019-12-13 07:13] ehrishirajsharma commented on #201
Thanks for the feedback.

We actually wanted to focus subfinder solely for passive enumeration, this would allow us to work dedicatedly on a specific solution and improve it by time. We are planning to open-source a separate tool for active enumeration, will post comment once its out.

[2019-12-13 07:13] #201 closed

[2019-12-13 08:17] Ice3man543 commented on #200
Yep, i was able to reproduce the issue.

[code]

[2019-12-14 19:26] #200 closed

[2019-12-14 19:28] Ice3man543 commented on #200
Fixed in v2.2.3. Check it out now!

[2019-12-15 15:12] riramar opened #204 "[Feature Request] Add option to show the version"
Could you please consider to include an option to show the version of subfinder?
This would help quick identify the actual version and check if there is a need to upgrade.

[2019-12-15 17:47] Ice3man543 opened #205 "Fix the bug in result saving with nW flag"
## What's the problem (or question)?
Saving a scan with nW flag and default output format will result in unresolved output being saved. This is the result of some recent changes.

[2019-12-15 17:48] Ice3man543 commented on #204
@riramar, nice idea. I'll add it asap! Thanks

[2019-12-17 18:04] kmskrishna opened #206 "Any easy way to check if the API keys are working?"
Is there an easy way to check if the API keys are working or not working for the given services?

[2019-12-18 03:15] buivancuong commented on #124
Pulsedive is the reliable resource, I think this integrated feature will be helpful, the Go Pulsedive API is very well: https://github.com/viiftw/pulsedive-go

[2019-12-18 03:21] buivancuong commented on #124
Pulsedive is the reliable resource, I think this integrated feature will be helpful, the Go Pulsedive API is very well.

[2019-12-18 06:36] bauthard commented on #206
Hi @kmskrishna,

Unfortunately, no, using subfinder you can not validate the keys, the only way to validate it using the service itself.

[2019-12-18 06:36] #206 closed

[2019-12-18 06:43] bauthard commented on #199
Hi @ZeroDot1,

The aim of saving results to each file to make it more manageable for the user, for your use case you can simply run the **subfinder** in following way to get the expected results.

[code]

For having results in both way, you can simply do, `cat *.txt > URLsToScanDONESF.txt` in the results directory.

[2019-12-18 09:21] streaak opened #207 "Censys service errors out and doesn't yield results"
[code]

Subfinder shows the following error for Censys-
[code]
Rest of the script runs successfully. I have added the Censys keys in the APIID:secret format in the yaml file.

Regards,
streaak

[2019-12-18 11:13] ZeroDot1 commented on #199
Hi @bauthard,
Thanks for the tip.
I use it now in the following way:
`cat 'URLsToScan.txt' | 'bin/subfinder' -silent -oD /folder/ | tee /URLsToScanDONESF.txt`
First all URLs are written to individual files, and at the same time all URLs are written to a single file.
This makes it easier for me to filter out URLs.

CC: @Ice3man543

[2019-12-28 17:11] manuelbua commented on #199
@bauthard why did you close this issue?

As there is no way to disable output file creation when multiple domains are specified, what are the options now? Sure we can pipe everything to `tee` but i still don't want it to litter my directories with tens of files for the sake of it.

My opinion is that if the user explicitly supplies an output file, then it can be used, else it shouldn't create them

[2019-12-29 14:28] Ocraz opened #208 "Subfinder hangs when scanning amazonaws.com"
## What's the problem (or question)?
Subfinder hangs when scanning amazonaws.com

## Do you have an idea for a solution?

## How can we reproduce the issue?
1. Install with go get -v github.com/projectdiscovery/subfinder/cmd/subfinder
2. Run: subfinder -d amazonaws.com
3. It hangs at asicloud.s3.amazonaws.com

## What are the running context details?
Install method: go get -v github.com/projectdis

[2019-12-30 11:21] bauthard commented on #208
Hi @Ocraz,

[code]

[code]

Valid issue, looks like subfinder failed to exist in this case, but complete the task as we can see the output results in the file.

[2019-12-30 11:30] bauthard commented on #199
@manuelbua,

Valid point, will reopen this issue to support `-o` flag in case of multiple domains.

[2019-12-31 00:43] Ocraz commented on #208
Tried the suggested command exactly, but it doesn't seem to finish either...
Strangely, asicloud.s3.amazonaws.com doesn't seem to exist in the results (tried it with Kali with VirtualBox).

[2020-01-08 14:03] Ocraz commented on #208
Subfinder also hangs @ curtis.nflxvideo.net

[2020-01-09 13:11] arbazkiraak commented on #208
@ `subfinder -d netflix.com`

[2020-01-09 15:11] Ice3man543 commented on #208
Hey @arbazkiraak, i'll check this out tomorrow and fix this hopefully!

[2020-01-10 10:09] Ice3man543 commented on #205
Fixed in #210

[2020-01-10 10:09] #205 closed

[2020-01-10 10:25] Ice3man543 commented on #199
HI @manuelbua @ZeroDot1 results can now be saved to a single file while using the -o flag with the output file name in case of domain list.  Just do -

[code]

[2020-01-10 11:33] bauthard commented on #199
@ZeroDot1,

Single file issue got fixed at https://github.com/projectdiscovery/subfinder/pull/211.

[code]

These warning messages indicate that subfinder unable to connect the sources due to rate limit implementation at other end so this can not be fixed from our side.

[2020-01-10 11:33] #199 closed

[2020-01-10 11:44] bauthard commented on #207
@streaak thank you for filing this issue.

Subfinder expects JSON data from format from `censys` but in case when you hit the rate limit from `censys` you get the above error in HTML format, so this is not an issue but only an indication that you hit the rate limit form `censys` service.

[2020-01-10 11:44] #207 closed

[2020-01-10 11:47] Ice3man543 commented on #204
Hey @riramar, this feature was added in #212. Closing this issue now!

[2020-01-10 11:47] #204 closed

[2020-01-10 12:10] riramar commented on #204
Thanks!

[2020-01-10 14:29] Ice3man543 commented on #208
Hey @arbazkiraak @Ocraz the issue should be fixed with PR #213. The google certificate transparency source was acting in a weird way giving duplicate ids, which caused it to be stuck in an infinite loop. Hopefully, that should be fixed now. I tested with netflix.com and it worked.

Closing this issue now. Feel free to reopen if the issue arises again!

[2020-01-10 14:29] #208 closed

[2020-01-10 17:17] bauthard commented on #198
@carryshen try with the latest release at https://github.com/projectdiscovery/subfinder/releases, working fine now.

[2020-01-10 17:17] #198 closed

[2020-01-10 17:49] arbazkiraak opened #214 "Subfinder building exception"
[code]

`go get -u` throws the same error,

[2020-01-10 18:40] Ice3man543 commented on #214
@arbazkiraak this seems like an issue with your go environment. I suggest you remove the current go installation and reinstall. I don't see an issue with subfinder here.

Here is a relevant go issue tracker discussion. https://github.com/golang/go/issues/27269
Thanks!

[2020-01-10 19:38] arbazkiraak commented on #214
Indeed, I just overwrote a new version of go on old.

Solved! Thanks

[2020-01-10 19:38] #214 closed

[2020-01-25 17:13] melbadry9 opened #216 "Crtsh Parsing Error"
https://github.com/projectdiscovery/subfinder/blob/b516df8ab0a94fcdecfa5ff1dd0a00eb42fd31a3/pkg/subscraping/sources/crtsh/crtsh.go#L37-L40

- Every subdomain found starts with additional `n` letter.
- If the founded subdomain is `sub.example.com` it return `nsub.example.com`

![1](https://user-images.githubusercontent.com/43918685/73124671-89f6df00-3fa6-11ea-9da1-492b5c9b5c1a.png)

[2020-01-25 18:11] bauthard commented on #216
Valid and verified issue, thanks for reporting @melbadry9

[2020-01-25 20:10] Ice3man543 commented on #216
Hey @melbadry9, this should be fixed in the latest release. Closing it now!

[2020-01-25 20:10] #216 closed

[2020-01-26 17:25] lc commented on #216
I was wondering why I had random n lettered subdomains in 😂 Thanks for finding this @melbadry9

[2020-01-27 02:03] blshkv opened #217 "subfinder should not download itself into ./vendor directory"
I'm not a Go expect and not sure what's going on here.
subfinder downloads itself (subfinder@v2.3.1+incompatible as of now) and requires itself for compilation.

I use the following method to confirm it:

git clone https://github.com/projectdiscovery/subfinder.git
cd subfinder
go mod init subfinder  (migrate to modules)
go mod vendor

The last command would download the following list of packages:

[2020-01-27 07:34] mpgn opened #218 "Using psql for crt.sh subdomain enumeration"
## What's the problem ?
Actually, subfinder use a simple GET request to get subdomain from crt.sh. This technique is simple but it can miss lot of subomain.

## Do you have an idea for a solution?
Solution: use the progresql database of crt.sh (open to everyone). Script example :

[code]

## How can we reproduce the issue?

subfinder output:

![image](https://user-images.githubusercontent.com/5891

[2020-01-27 07:36] Ice3man543 commented on #218
Hey @mpgn, thanks for this issue. This is curious, i thought both had same reults. Anyway, thanks for notifying! I'll working on adding this asap.

[2020-01-27 07:38] Ice3man543 commented on #217
Hey @blshkv, go modules are not yet used by subfinder so as to not break stuff that depends on the dep dependency manager. We'll soon migrate to it. Till then you should use the standard way to install which is  -

[code]

Thanks!

[2020-01-27 09:07] blshkv commented on #217
I'm packaging subfinder for Pentoo linux and can't use "go get".
We need to download all dependencies in advance and compile it using "go build".
I find that the easiest way to get the list of dependencies is to convert to modules.

The final ebuild is here https://github.com/pentoo/pentoo-overlay/commit/d2ab6a30046b46974142244440ea15a1c6ed589 just in case if you are curios.

[2020-01-27 09:15] blshkv commented on #217
btw, I have tried "go get -v github.com/projectdiscovery/subfinder/cmd/subfinder" from cli, it still gets ``~/go/pkg/mod/cache/download/github.com/projectdiscovery/subfinder/@v/v2.3.1+incompatible.zip```

so it looks like there is no difference in these two methods.

[2020-01-30 10:36] sojusnik opened #219 "Discover RSS feeds"
I wonder if subfinder would be able to detect RSS feeds on sites where they are not promoted, but nevertheless present?

Let's take f.i. [eurailpress.de](https://www.eurailpress.de/). Neither on the main page, nor its source code you'll find a valid feed, but after a lot of trial and error you could stumble upon the proper feed address: https://www.eurailpress.de/news/rss.xml

Is subfinder capable

[2020-02-03 09:41] bauthard commented on #219
Hi @sojusnik,

The purpose of `subfinder` is to find **subdomains** of the given domain, finding specific files is not in the scope of subfinder.

[2020-02-03 09:41] #219 closed

[2020-02-06 18:33] Edu4rdSHL commented on #218
@mpgn try Findomain while it's fixed. It query the crtsh database directly and if it isn't success then uses the API method.

[2020-02-13 15:05] Ice3man543 opened #222 "Add time taken by each source in verbose mode"
## What's the problem (or question)?
Show time taken by each source

[2020-02-13 15:42] Ice3man543 commented on #222
Done!

[2020-02-13 15:42] #222 closed

[2020-02-13 16:37] #218 closed

[2020-02-13 16:38] Ice3man543 commented on #218
@mpgn, @Edu4rdSHL this should be fixed as of now. If the db interface doesn't works, we fallback on http. Thanks for creating the issue and helping with this addition!

[2020-02-13 16:52] mpgn commented on #218
Nice @Ice3man543 ! good work

[2020-02-14 21:43] riramar opened #225 "Upgrade to v2.3.2 is failing"
Not sure why but upgrade to v2.3.2 is not working.

# go get -u -v github.com/projectdiscovery/subfinder/cmd/subfinder
github.com/projectdiscovery/subfinder (download)
github.com/logrusorgru/aurora (download)
github.com/json-iterator/go (download)
github.com/modern-go/concurrent (download)
github.com/modern-go/reflect2 (download)
github.com/lib/pq (download)
github.com/m-mizutani/urlscan-go (downl

[2020-02-20 10:12] darkweb-123 opened #226 "not working behind proxy"
## What's the problem (or question)?

## Do you have an idea for a solution?

## How can we reproduce the issue?

1.
2.
3.
4.

## What are the running context details?

* Installation method (e.g. `pip`, `apt-get`, `git clone` or `zip`/`tar.gz`):
* Client OS (e.g. `Microsoft Windows 10`)
* Program version (see banner):
* Relevant console output (if any):
* Exception traceback (if any):

[2020-02-26 10:48] bauthard commented on #226
Hi @darkweb-123,

Can you elaborate on the problem in detail? how to reproduce this issue.

[2020-02-26 10:53] bauthard commented on #225
Hi @riramar,

Can you please retry with again.

[code]

[2020-02-26 14:28] riramar commented on #225
It worked! Thanks for such amazing tool!

[2020-02-26 14:28] #225 closed

[2020-03-06 18:28] SandeepkrishnaS commented on #226
I think I have the same problem. I am sitting behind my institute's proxy server. Only outgoing http(s) traffic is allowed. Can proxy configuration be set for subfinder??

[2020-03-07 08:42] bauthard commented on #226
Hi @darkweb-123 @SandeepkrishnaS,

You can try with default proxy support.

[code]

Replace `127.0.0.1:8080` with the proxy you want.

[2020-03-13 12:44] bauthard commented on #226
Closing this as this is out of the scope of the SubFinder, a possible workaround is shared in the above comment.

[2020-03-13 12:44] #226 closed

[2020-04-15 13:07] root0er opened #228 "panic: runtime error: invalid memory address or nil pointer dereference"
The application crashes with some domains
`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x10 pc=0x7bdc40]

goroutine 37485 [running]:
github.com/m-mizutani/urlscan-go/urlscan.Client.post(0xc000026330, 0x24, 0x9a3bd3, 0x19, 0x99994e, 0x4, 0x945d60, 0xc00101b020, 0x8c1360, 0xc0000e8a80, ...)
	/home/root0er/go/src/github

[2020-05-10 05:52] h121h opened #230 "crt.sh source replacing wildcard/asterisk (*) with 'n' in the results"
## What's the problem (or question)?
The CRTSH source is appending "n" in front of several of the results (subdomains) because of the wildcard/asterisk being returned in the results.

## How can we reproduce the issue?
1. Run this command: ./subfinder -nC -d google.com -sources crtsh
2. Observe several of the results have "n" appended in place of the wildcards/asterisks (*) in the results (subdoma

[2020-05-10 06:09] bauthard commented on #230
[code]

[code]

@h121h make sure you are running on the latest version, I'm not able to reproduce this on my side.

[2020-05-10 06:33] h121h commented on #230
Thanks @bauthard - You are correct. I was running an older version. This is not reproducible in version 2.3.2.

[2020-05-10 06:34] #230 closed

[2020-05-10 06:34] bauthard commented on #230
Thank you for confirming this @h121h

[2020-05-16 21:35] c0rvax opened #233 "Flag to not resolve hosts"
Hey dudes!

I think the tool lacks a flag to not resolve any domains. That would be handy in people's tools as regularly they do have their own resolvers.

Could you point me to a flag (if there is one) or add a new one to support this functionality?

Thanks!

[2020-05-16 22:52] bauthard commented on #233
Hi @c0rvax,

on default run it does not resolve anything, you only see the passive results, do you have any examples?

[2020-05-17 01:14] bauthard opened #234 "Flag to upload found subdomains in the dataset"
## Do you have an idea for a solution?
Updating found subdomain to the dataset so later we can query them on the go.

## What are the running context details?

[code]

`-cd` this flag to update data to [Chaos dataset](https://chaos.projectdiscovery.io/).

We can make use of `config.yml` file to store the `chaos-key`

[2020-05-17 08:51] ddervosj opened #235 "[WRN] Could not run source urlscan: Fail to get result query"
Hello,

Post update to 2.3.3 using go get -v -u ... I'm receiving below error when running the tool against any domain:

[WRN] Could not run source urlscan: Fail to get result query: Fail to unmarshal urlscan.io get result: json: cannot unmarshal number into Go struct field .meta.processors.wappa.data.categories.priority of type string

[INF] Current Version: 2.3.3

Any idea what may be causing th

[2020-05-17 14:45] lc commented on #228
Hey all,

This appears to be an issue with the urlscan-go library, I've found and fixed the issue. You can see the status of the PR here: https://github.com/m-mizutani/urlscan-go/pull/2

[2020-05-17 20:33] c0rvax commented on #233
Oh, if so, then it is good enough. I read the documentation and though that by default it uses `subfinder -r 1.1.1.1,1.0.0.1` to resolve the hostnames received.

Thanks

[2020-05-17 20:33] #233 closed

[2020-05-17 20:38] Mzack9999 commented on #235
Hi @ddervosj

I suppose this shares the same root cause of #228 - Hopefully the PR with the fix to the original library will also address this.

[2020-05-17 23:14] lc commented on #228
@Mzack9999,

This issue has been fixed, the PR has been merged: m-mizutani/urlscan-go#2.

[2020-05-18 11:22] si9int opened #239 "Add support for: spyse.com"
Took a quick look into the sources and didn't discovered a module implementing the following website.

https://spyse.com

[2020-05-18 18:22] Mzack9999 commented on #234
Implemented in #238

[2020-05-18 18:22] #234 closed

[2020-05-18 18:23] Mzack9999 commented on #228
Thanks for your work @lc!

@root0er let us know if you still have any issue. Closing as this should be fixed.

[2020-05-18 18:23] #228 closed

[2020-05-18 18:25] Mzack9999 commented on #235
@ddervosj This should have been solved in https://github.com/m-mizutani/urlscan-go/pull/2
Let us know if you still experience any issue

[2020-05-18 18:25] #235 closed

[2020-05-19 06:10] ddervosj commented on #235
Yep - error has been fixed. However not seeing any additional subdomains being pulled by urlscan.. Gonna keep trying lol

[2020-05-21 06:17] bauthard opened #241 "Make use of temporarily files storing subdomains to upload for chaos dataset."

[2020-05-22 02:30] bauthard commented on #239
Hey @si9int, this is done at https://github.com/projectdiscovery/subfinder/pull/240

[2020-05-22 02:30] #239 closed

[2020-06-04 19:51] scottishhunter1 opened #244 "valid"
certspotter:
	- sadasdasd27512315asd_P7VbIasdd123asdnX7decDI329lasdasgGY4J

is This pattern of api key valid are not

[2020-06-05 04:36] bauthard commented on #244
Yes, here is an example @scottishhunter1
[code]

also, you can confirm by running:-

[code]

[2020-06-05 04:36] #244 closed

[2020-06-05 05:21] #190 closed

[2020-06-05 05:21] #217 closed

[2020-06-05 06:05] bauthard opened #245 "improvements with json output format"
## What's the problem (or question)?
1. JSON output is not supported in passive mode.

[code]

2. JSON output does not include source information of found subdomain

[code]

3. stdout does not prints `json` format even with `oJ` flag.

[code]

## Do you have an idea for a solution?
- [x] Make the `json` output optional instead of using only with `nW` flag.
- [x] Include `source` information in the

[2020-06-05 08:16] bauthard opened #246 "Improved error handling"
## What's the problem (or question)?

It looks like 4xx/5xx status codes and dnsdumpster/hackertarget rate limits are still being ignored. Robust error handling is pretty important

Source:- https://github.com/projectdiscovery/subfinder/pull/220#issuecomment-639328629

[2020-06-06 11:50] scottishhunter1 commented on #244
i tried but didn,t work

[2020-06-06 12:15] bauthard commented on #244
I've updated the example config file [here](https://github.com/projectdiscovery/subfinder/blob/master/config.yaml) which is working on my side.

[2020-06-09 22:06] tamjid1971 commented on #10
using this comand in kali :   GO111MODULE=on go get -v github.com/projectdiscovery/subfinder/cmd/subfinder

It's work properly 👍

[2020-06-20 11:13] bauthard opened #248 "Adding chaos endpoint as a source"
Source:- https://chaos.projectdiscovery.io/#/docs

Client:- https://github.com/projectdiscovery/chaos-client

[2020-06-20 21:33] itachisec opened #249 "go/src/github.com/projectdiscovery/subfinder/pkg/subscraping/agent.go:37:14: undefined: http.NewRequestWithContext"
## What's the problem (or question)?

## Do you have an idea for a solution?

## How can we reproduce the issue?

1.
2.
3.
4.

## What are the running context details?

* Installation method (e.g. `pip`, `apt-get`, `git clone` or `zip`/`tar.gz`):
* Client OS (e.g. `Microsoft Windows 10`)
* Program version (see banner):
* Relevant console output (if any):
* Exception traceback (if any):

[2020-06-20 21:34] itachisec commented on #249
I have golang 14.4(newest) when i try to download it threw go get or git clone or wget tar file all responsives are go/src/github.com/projectdiscovery/subfinder/pkg/subscraping/agent.go:37:14: undefined: http.NewRequestWithContext

[2020-06-21 06:27] bauthard commented on #249
Hey @itachisec,

Can you please share a screenshot with version details:-

[code]

[2020-06-21 08:43] itachisec commented on #249
Hey @bauthard,

Thank your already in advance for the quick responce!

My go version is 1.14.4
![image](https://user-images.githubusercontent.com/62624280/85220449-c5f26c80-b3ab-11ea-9990-2d2bdd85584c.png)

Also tried it with lower versions.

I download it with the GO GET, WGET TAR and GITclone unpack, all the same error. Pretty frustrating because this is my number one choice tool for sub scrapin

[2020-06-21 09:47] Ice3man543 commented on #249
Hey, this should not be happening with the binary version. Can you share steps you followed or commands you ran so that we can reproduce them?

[2020-06-21 12:55] itachisec commented on #249
Hi @Ice3man543

The following steps is what I do:

1: wget https://dl.google.com/go/go1.14.4.linux-amd64.tar.gz
2: sudo tar -C /usr/local/ -xzf go1.14.4.linux-amd64.tar.gz
3: echo 'export GOROOT=/usr/local/go' >> ~/.bashrc
echo 'export GOPATH=$HOME/go' >> ~/.bashrc
echo 'export PATH=$GOPATH/bin:$GOROOT/bin:$PATH' >> ~/.bashrc
source .bashrc

4: GO111MODULE=on go get -v github.com/projectdiscovery/

[2020-06-21 15:10] ZeroDot1 opened #250 "Could not run enumeration (too many open files error)"
## What's the problem (or question)?
While performing an automatic scan, the following problem occurred:

`[FTL] Could not run enumeration: open /11/miningpools.cloud.txt: too many open files`
After this message Subfinder stopped working.
## How can we reproduce the issue?
1. Start Subfinder with the following command, `cat '/URLsToScan.txt' | 'go/bin/subfinder' -config '/Config/subfinder/config.y

[2020-06-22 10:50] itachisec commented on #249
@bauthard @Ice3man543 any idea's?

[2020-06-22 10:55] bauthard commented on #249
Hey @itachisec,

It's an issue with your go installation path which somehow picks the old version during installation, so either you can fix that with a google search or you can simply download the binary file to use it directly from here https://github.com/projectdiscovery/subfinder/releases

After downloading the file:-

[code]

[2020-06-22 10:57] itachisec commented on #249
Oke ty very very much

Op ma 22 jun. 2020 12:56 schreef bauthard <notifications@github.com>:

[2020-06-22 11:27] #249 closed

[2020-06-22 18:17] cramppet opened #251 "Release 2.3.5 on Linux (amd64) - 'No such file or directory'"
# Description

When running `./subfinder` from the command line, the program fails to start and the shell reports `No such file or directory`.

I used the latest release binary (2.3.5) and was running from a fresh virtual machine (Ubuntu 18.04.3; amd64)

I previously used version 2.3.4 and I don't recall experiencing this issue.

# Potential fix/workaround

I probed the problem further by running

[2020-06-22 20:09] derrickjudge opened #252 "Too many files open error"
## What's the problem (or question)?
Too many open file error:

[ERR] Could not create file subfinder.json for notmysite.net: open subfinder.json: too many open files
[FTL] Could not run enumeration: open subfinder.json: too many open files
✘-1 ~/cloned_repos/subfinder/tar [master|…7]
13:00 $ ls
LICENSE				domainlist.txt			subfinder.json			tmp.json
README.md			subfinder			subfinder_2.3.5_macOS_amd

[2020-06-24 22:11] bauthard commented on #252
Hey thanks for the detailed issue, this is already being tracked here https://github.com/projectdiscovery/subfinder/issues/250

[2020-06-24 22:11] #252 closed

[2020-06-26 12:55] rajeshk28 opened #253 "API keys not working for any of them."
I have added all the required API keys but when I see the output with -v, I can not find any results from the API dependent sources. other I am able to see.

I have tried with multiple different domains but still, no one is taking the keys to give results.

Can you please post the example on the format to add keys, I am adding the same way in the screenshot given.

[2020-06-26 13:10] bauthard commented on #253
An example is included in the project https://github.com/projectdiscovery/subfinder/blob/master/config.yaml, do you have a question for any specific source?

[2020-06-26 13:33] skynet594 commented on #253
@bauthard
i think you are getting this error because of the path to the config.yal file that contains the API keys.
In the installation instructions it says you would have to put it to this path "$HOME/.config/subfinder/config.yaml" of your home directory.
I had the same problem sometime ago but i solved it manually by enabling show all hidden directories in my Home directory.
Then i created a dir

[2020-06-26 14:35] rajeshk28 commented on #253
Ok thanks, that was helpful

[2020-06-26 14:35] #253 closed

[2020-07-07 20:41] Mzack9999 commented on #250
@bauthard - It seems like we need [fdmax](https://github.com/projectdiscovery/fdmax) ?

[2020-07-08 18:00] bauthard opened #256 "adding flag to list available list of sources"
## Do you have an idea for a solution?
Adding `-ls` flag, `ls` stands for list sources

## Example:-

[code]

[2020-07-08 18:10] bauthard opened #257 "Finalize strategy to deal with sources with long response time"
## What's the problem (or question)?
- Few sources take so long with the response and eventually impact the performance in general.

## Do you have an idea for a solution?
- Exclude them on default run, and have a flag to run `-all` sources OR the opposite side,
- Have a flag as `-fast` which will run good list of sources with good response time and run all sources on default.

[2020-07-09 13:40] chawdamrunal opened #258 "support"
subfinder -d onurair.com -silent | httpx-silent | > outputttt
bash: httpx-silent: command not found

could you help to solve this

[2020-07-09 13:43] chawdamrunal opened #259 "support"
subfinder -d domain.com -silent | httpx-silent | > outputttt
bash: httpx-silent: command not found

could you help to solve this

[2020-07-09 14:24] bauthard commented on #259
Duplicate https://github.com/projectdiscovery/subfinder/issues/258

[2020-07-09 14:24] #259 closed

[2020-07-09 14:27] bauthard commented on #258
Hey, I'm assuming you have `httpx` installed on your system, and thr is space between httpx and silent, `-silent` is flag used along with `httpx`, working command would be:-

[code]

[2020-07-09 14:27] #258 closed

[2020-07-10 19:42] srivastava007 commented on #249
simple download previous version of the file...it is working as of now

[2020-07-11 09:10] bauthard opened #260 "Flag to run only sources supports recursive scan."
## What's the problem (or question)?

Half of the sources allows looking for subdomains of subdomains recursively, but for now, all the sources are used as a default even they don't return any results and increase scan time, so adding a flag for this only runs sources which does support recursive lookup, saves lot of time of the scan and more control on the scan for user.

## Do you have an idea f

[2020-07-14 07:03] bauthard commented on #251
@cramppet This is fixed in latest release https://github.com/projectdiscovery/subfinder/releases/tag/v2.3.6

[2020-07-14 07:03] #251 closed

[2020-07-14 08:09] SimoneBovi opened #262 "Github Rate Limit"
Hi,
as Github is rate limiting requests, I would advise to repeat the new Github recon process around 4-5 times, as suggested by Jason Haddix, with some different sleep time.

Thanks!

[2020-07-14 08:14] bauthard commented on #262
@SimoneBovi Thank you for creating this issue, can you please share the error details how it looks like while running subfinder?

@vzamanillo do you think adding multiple key support will solve this or more sleep in case the rate limit occurs?

[2020-07-14 08:18] SimoneBovi commented on #262
@bauthard I do not receive any error. However Github is rate limited so subfinder would likely says OK while github is finding nothing.
For me a sleep is better than multiple key support so to avoid creating more, but this is your choice :)

Thanks!

[2020-07-14 09:28] shafan opened #263 "Update failed"
When I want to update the module with the command :
`GO111MODULE=on go get -u -v github.com/projectdiscovery/subfinder/cmd/subfinder`
it's not working.

Here's the message that appears:
`go: found github.com/projectdiscovery/subfinder/cmd/subfinder in github.com/projectdiscovery/subfinder v2.3.4+incompatible`

this is complete message :
`go: found github.com/projectdiscovery/subfinder/cmd/subfinde

[2020-07-14 09:42] bauthard commented on #263
Hi @shafan,

Thank you for creating this issue, we will investigate this, in case you want to update now, either you can delete old subfinder and download it again, or download the latest binary.

[2020-07-14 12:14] bauthard opened #264 "Do not run dnsdb source if keys are not specified"
### Current behavior -

- DNSDB runs even keys are not specified in the config file.

[code]

### Expected behavior -

- Runs all the sources excluding for which keys are not specified in the config file.

[2020-07-14 13:45] vzamanillo commented on #262
Hey, I think multiple key support will be better because it doesn't affect to speed, it should be easy to implement picking a random key from the list.

[2020-07-14 14:01] bauthard commented on #262
@vzamanillo sure, few things to consider, in many cases it's possible users have a single key and can not maintain many, in that case, they are bound to get rate limit, so it would be better if we can slow down the request when rate limit gets hits and user don't have additional keys in config.

so the flow can be like this!

in case users have a single key and got rate limit error, slow down the

[2020-07-14 14:05] vzamanillo commented on #262
Looks good to me!

[2020-07-15 07:27] striveben opened #265 "fig"
## What's the problem (or question)?

## Do you have an idea for a solution?

## How can we reproduce the issue?

1.
2.
3.
4.

## What are the running context details?

* Installation method (e.g. `pip`, `apt-get`, `git clone` or `zip`/`tar.gz`):
* Client OS (e.g. `Microsoft Windows 10`)
* Program version (see banner):
* Relevant console output (if any):
* Exception traceback (if any):

[2020-07-15 07:52] wanted1205 opened #266 "urlscan source is not working properly"
## What's the problem (or question)?
[WRN] Could not run source urlscan: Fail to get result query: Fail to unmarshal urlscan.io get result: json: cannot unmarshal number into Go struct field .meta.processors.wappa.data.categories.priority of type string
[WRN] Could not run source spyse: readObjectStart: expect { or n, but found <, error found in #1 byte of ...|<html>
<he|..., bigger context ...|<h

[2020-07-15 09:12] #265 closed

[2020-07-15 09:27] bauthard commented on #266
Can you add more details to this issue @wanted1205, what cmd you used? do you have `urlscan` key saved in your config file or anymore more to share?

what version of subfinder you are using?

[2020-07-15 11:24] vzamanillo commented on #262
This is in progress, and... a new surprise to incredibly speed up the search results using `text-match-metadata`.

https://docs.github.com/en/rest/reference/search#text-match-metadata

[2020-07-15 13:12] riramar opened #268 "Upgrading from 2.3.5 to 2.3.6 is actually downgrading to 2.3.4"
## What's the problem (or question)?
Upgrading from 2.3.5 to 2.3.6 is actually downgrading to 2.3.4

## Do you have an idea for a solution?
No idea.

## How can we reproduce the issue?
1. Install 2.3.5
2. Run GO111MODULE=on go get -u -v github.com/projectdiscovery/subfinder/cmd/subfinder
3. Check the version
4. [INF] Current Version: 2.3.4

## What are the running context details?
* Installation m

[2020-07-15 13:17] vzamanillo commented on #262
I am working on a new method to get the subdomains using the GitHub search `text-match-metadata` but I think it is better to try it on another branch so as not to mix changes, I will add a new PR after it validates and merges this one.

[2020-07-15 14:10] vzamanillo commented on #264
I am not able to reproduce this.

subfinder version: 2.3.6

[code]
`config.yml`

![config](https://user-images.githubusercontent.com/10209695/87555396-ab16cd80-c6b5-11ea-8e7a-6b7b5e1de6cb.png)

[2020-07-15 18:01] thealamu commented on #250
Is work being done on this? @Mzack9999. May I take a stab at it?

[2020-07-16 08:36] bauthard commented on #268
- Go Modules need to be updated in order to fix this.

[2020-07-16 11:21] wanted1205 commented on #266
Yes I added all the required keys then also issue perists

[2020-07-16 11:44] riramar commented on #268
By removing "GO111MODULE" from the upgrade command I was able to upgrade to the latest version.

[2020-07-16 11:44] #268 closed

[2020-07-18 11:15] #262 closed

[2020-07-19 10:52] bauthard commented on #260
I'm preparing the list of sources that **support** recursive scan vs **do not support** recursive scan, using that this can be achieved using `exclude-sources` or `sources` flag.

[2020-07-19 10:57] #256 closed

[2020-07-19 11:03] bauthard commented on #264
@vzamanillo ^

[code]

[code]

[2020-07-19 17:07] #264 closed

[2020-07-20 12:44] vzamanillo commented on #246
Should we just handle unexpected errors on those two sources or do we need to do something generic that reports error when it is not a 200 status code (return error from agent methods)?

[2020-07-20 14:35] Ice3man543 commented on #246
@vzamanillo  I think generic errors should be the way to go since it takes way too much time to go through each source identifying their error codes. A wrapper that returns the status code and a log message should be enough.

[2020-07-21 11:18] vzamanillo commented on #250
We have to check that all the resources used in each source are released correctly before using fdmax, it may not all be released correctly, I think it is a good exercise, there are some golang gotchas for defer, ej. it does not work as expected in iteration blocks.

[2020-07-21 11:18] bauthard commented on #246
Fixed with https://github.com/projectdiscovery/subfinder/pull/274

[2020-07-21 11:18] #246 closed

[2020-07-21 11:31] vzamanillo commented on #266
@wanted1205 Looking at the error message, I think your problem is not directly related with `urlscan` source because `spyse`, `virustotal`, `commoncrawl`... are failing too, maybe is related to a network problem, are you behind a proxy or firewall?

[2020-07-21 19:56] vzamanillo opened #277 "Add golangci-lint-action to the existing GitHub workflow"
[golangci-lint-action](https://github.com/golangci/golangci-lint-action) It's the official GitHub action for `golangci-lint` from it's authors. The action runs `golangci-lint` and reports issues from linters.

[golangci-lint](https://github.com/golangci/golangci-lint) is a fast Go linters runner. It runs linters in parallel, uses caching, supports yaml config, has integrations with all major IDE a

[2020-07-21 20:42] vzamanillo commented on #277
I have mentioned `golangci-lint-action` because it is very versatile and offers the possibility to use various linters for different things, but any other mechanism to improve the quality of the code would be just as good.

[2020-07-22 09:22] Ice3man543 commented on #277
@vzamanillo Hey, thanks for your contributions to the project! The work you've been doing is really amazing. Regarding `golangci-lint`, it's a very good idea. Let's add this to this as well as other open source projects we have. This was something we had to do however not been able to yet due to time constraints.

[2020-07-22 10:39] vzamanillo commented on #277
Hey @Ice3man543!

Thank you very much! I am glad to do this.

Ok let's do it!

So that the development does not have any negative impact on the current repository, I will try to test locally using https://github.com/nektos/act.

I will keep you informed.

[2020-07-22 17:29] wanted1205 commented on #266
Well i have nice internet connection and also i am not behind any firewall or proxy

[2020-07-22 21:07] bauthard commented on #266
Looks like an issue, following error using valid key from https://urlscan.io/user/profile/

[code]

[2020-07-23 13:23] vzamanillo commented on #277
Lot of work but...

![lint](https://user-images.githubusercontent.com/10209695/88290605-54357780-ccf7-11ea-8a48-707ab0acc32a.png)

#278

:)

[2020-07-24 11:59] vzamanillo commented on #263
@shafan As a temporal workaround you can update the package with the following command:

`GO111MODULE=auto go get -u -v github.com/projectdiscovery/subfinder/cmd/subfinder`

Refs:
- https://github.com/golang/go/issues/28309
- https://github.com/golang/go/issues/31857

[2020-07-24 18:34] vzamanillo opened #279 "Improve sources memory consumption"
While doing some memory profiles with `pprof` I've discovered that some sources increase the memory footprint of subfinder in excess ej: `waybackarchive`

![wayback1](https://user-images.githubusercontent.com/10209695/88421769-6394ed80-cde9-11ea-9c22-86d68e2ae702.png)

This is because the size of the results is very large and we are using `ioutil.ReadAll(pagesResp.Body)`.

After some changes to re

[2020-07-26 09:56] vzamanillo commented on #279
First results after some rework, I have excluded `github` because it takes a long time to finish, but it increases the consumption by only about 5MB and keeps it constant until finished.

![mem-test](https://user-images.githubusercontent.com/10209695/88476194-deb7ea00-cf36-11ea-8ff0-3942bf902289.gif)

[2020-07-26 10:14] bauthard commented on #279
Hey @vzamanillo we didn't focus on memory profiling in the past because subfinder is not something we run all the time, mostly it's one time run before you start with your target, but definitely one of the things to improve to make it more mature.

Apart from memory consumption improvement, do you also notice an improvement in overall run time (as we can see in the above poc), is it a result of li

[2020-07-26 16:32] vzamanillo commented on #279
Hi @bauthard, there are no significant improvement in overall run time, there is in some cases, but the difference is not so important, in fact, in sources with large response data, such as `commoncrawl` or `waybackarchive`, it is a few milliseconds slower because the content of the responses is iterated line by line instead of putting everything in memory and processing the data.

These improveme

[2020-07-27 11:56] vzamanillo commented on #279
Step by step guide to profile `golang` CPU / Memory.

Add `profile` package to `main.go` imports.

[code]
Run` main.go`:

`# go run main.go -d uber.com -sources alienvault`

after finished you can see the following message:

`2020/07/27 13:46:24 profile: cpu profiling disabled, /tmp/profile978571390/cpu.pprof`

Run pprof and inspect the results (it will open a new browser window):

`go tool pprof

[2020-07-29 04:22] achillean opened #280 "[Feature] Add support for Shodan DNS DB lookup"
## What's the problem (or question)?

This is a feature request. The Shodan runner currently does a search by hostname (https://github.com/projectdiscovery/subfinder/blob/master/pkg/subscraping/sources/shodan/shodan.go#L35) to find subdomains. However, there are 2 other ways to discover subdomains that are better (imo):

1. DNS DB which is Shodan's main domain discovery API
2. Certificates (ex: se

[2020-07-29 06:36] bauthard commented on #280
Thanks a lot for the suggestion and running an excellent service that is accessible to everyone @achillean ❤

Speaking about this feature, do you advise adding `DNS DB` and `Certificates` search as two different sources? in case certificates search split out more additional subdomains that are not covered in  `DNS DB` lookup? or `DNS DB` lookup covered everything and should be sufficient as a sing

[2020-07-29 07:32] achillean commented on #280
They will contain different information so I'd treat them as separate
sources. If you have the time you can do both but I figured adding the DNS
DB lookup would be easier and a better user-experience (it uses up fewer
API query credits).

On Wed, Jul 29, 2020 at 1:36 AM bauthard <notifications@github.com> wrote:

--
Shodan - http://www.shodanhq.com

Follow me on Twitter
http://twitter.com/achillea

[2020-07-29 07:35] bauthard commented on #280
Thank you for confirming this @achillean, we will make changes accordingly.

[2020-08-02 14:00] #266 closed

[2020-08-09 10:53] bauthard opened #282 "[Feature] Adding urlscan source"
**Is your feature request related to a problem? Please describe.**
We were using an unofficial version of urlscan API resulting in multiple issues, as such we dropped the old support here https://github.com/projectdiscovery/subfinder/commit/ef224dc1b1e5867d5b50c4b4757700f2dc3dd381 and will be adding again using the official version of API, as recently URLscan announced and came up with API support

[2020-08-09 11:57] bauthard commented on #260
Recursive scan supported sources:-

[code]

I'm considering not using `commoncrawl` and `zoomeye` with `-recursive` flag as default as they take a long time with fewer results.

We can make use of config file for this, where users can update/add/remove sources for `recursive` scan as per their need.
[code]

[2020-08-09 12:10] bauthard commented on #257
With the latest addition of GitHub and few long-running sources, we are opting to exclude them on default run, you can still run all the sources using `-all` flag, I will list sources which will be excluded from the default run.

[2020-08-10 13:57] #279 closed

[2020-08-10 14:40] bauthard commented on #277
Done with https://github.com/projectdiscovery/subfinder/pull/278

[2020-08-10 14:40] #277 closed

[2020-08-10 14:41] bauthard commented on #263
Hi @shafan,

Can you try this again? looks fixed to me.

[2020-08-11 15:06] enigm4s opened #285 "Solving no output"
**Describe the bug**
`subfinder -d site.com` shows nothing,
 and `subfinder -d site.com -v` shows:
`Couldn't run source .... read: connection refused`

**Subfinder version**
`subfinder -version`
`[INF] Current Version: 2.3.8`

**Complete command you used to reproduce this**

[code]

**Screenshots**
it's the same as the output above.

[2020-08-11 15:28] #280 closed

[2020-08-11 15:45] bauthard commented on #285
Looks like an issue with your network connection or DNS @enigm4s

[2020-08-11 16:17] enigm4s commented on #285
I use the provided binary for arm64, I'll try to build it back from git.

look like the problem is on precompiked binary, after build it from git, it solve the problem, tho some of them still giving those errors, but some of  giving out a results, a lot of results. I'll try for few dayd and see if some of them that giving me error still persists.
worked like a char

[2020-08-11 16:29] Ice3man543 commented on #248
Done!

[2020-08-11 16:29] #248 closed

[2020-08-11 16:40] ivasugarg opened #288 "Not able to start!"
$go run main.go

'#  github.com/projectdiscovery/subfinder/pkg/subscraping
../../pkg/subscraping/agent.go:63:14: undefined: http.NewRequestWithContext
note: module requires Go 1.14

[2020-08-11 16:43] Ice3man543 commented on #288
@ivasugarg As mentioned by the message, this tool requires atleast go version 1.14 to work. So please update your go environment and try again. Closing this issue. In future, we'll update the Documentation to specify required version.

[2020-08-11 16:43] #288 closed

[2020-08-11 16:44] bauthard commented on #257
Default sources to run:-

[code]

[2020-08-11 17:16] bauthard opened #289 "[Feature] Update config file on install / update"
**Is your feature request related to a problem? Please describe.**

Newly added sources don't get added into existing config files, as sources will only run if present in the config file, the existing users will miss new sources if not updated manually.

**Describe the solution you'd like**

Overwrite config file with new sources when updating the subfinder.

[2020-08-11 17:50] #257 closed

[2020-08-11 17:50] #260 closed

[2020-08-11 17:50] #289 closed

[2020-08-11 22:50] vzamanillo commented on #250
Can we test this against the new 2.4 release?

[2020-08-11 23:05] bauthard commented on #250
@ZeroDot1 Can you try to reproduce this with the latest release?

[2020-08-12 07:25] vzamanillo commented on #124
There are some things that we have to consider when adding this source, we can add a source that consumes data directly from the API (API key would be needed) or we can add a source that does an HTTP POST to the public search page (no I would need API Key) but it is limited to 100 results, or we can use one or the other depending on whether there is an API key for pulsedive in the config file. Any

[2020-08-12 08:10] bauthard commented on #124
When API is available (in this yes) we always prefer to use API.

If this is true, it will be overhead to use it as `pulsedive` also have 1 request / 2-second limit.

[2020-08-13 07:48] enigm4s commented on #285
2.4.1 looks fine.

now it just 401 from those that need api keys. build from git 👍
tested with httpx too.

[2020-08-13 08:23] bauthard commented on #285
thank you for confirming this.

[2020-08-13 08:23] #285 closed

[2020-08-13 17:33] gbiagomba opened #293 "[Issue] mkdir permission denied"
**Describe the bug**
[FTL] Could not get user home: mkdir /home/ubuntu/.config/subfinder: permission denied

**Subfinder version**
Include the version of subfinder you are using, `subfinder -version`
I am guessing its the latest version as of the day of posting, i used "go get -u -v github.com/projectdiscovery/subfinder/cmd/subfinder"

**Complete command you used to reproduce this**
subfinder -h

[2020-08-13 17:34] gbiagomba commented on #293
in case this helps
[code]

[2020-08-14 07:15] bauthard commented on #293
Are you able to create this dir manually? try to execute this `mkdir /home/ubuntu/.config/subfinder`

[2020-08-14 07:18] bauthard commented on #263
I've confirmed this,

[code]

This works well to update on the latest version on fresh box, closing this issue now.

[2020-08-14 07:18] #263 closed

[2020-08-14 18:02] gbiagomba commented on #293
yea that was the first thing i tried @bauthard and it didnt fix it. Mind you am only getting that issue on my ubuntu server not on my mac. I even tried seeing it there was data in the config file and when i tried catting it on mac it was empty. So am not sure why its giving me that issue.

[2020-08-14 18:05] bauthard commented on #293
as the error indicates, it's permission related issue with the user you are running on the system.

[2020-08-14 18:23] gbiagomba commented on #293
i tried both plain and sudo, i even tried using sudo -EH and none of it worked @bauthard only thing i didnt try yet was uninstalling and reinstalling lol

[2020-08-14 18:25] bauthard commented on #293
You can simply download the binary form here https://github.com/projectdiscovery/subfinder/releases if it works @gbiagomba

[2020-08-14 18:32] gbiagomba commented on #293
@bauthard i will try that next but i tried changing the folder permissions and it still wont load
[code]

[2020-08-14 18:33] gbiagomba commented on #293
@bauthard whats the ddiference between these two(2)?
[code]

[2020-08-14 20:09] Sy3Omda opened #294 "resolver syntax"
Hi,

i was wondering what is the syntax for resolvers.txt file?
my file is as following
[code]
and so on , dose this need to modify !

[2020-08-14 20:40] bauthard commented on #294
Yes, that's the correct format, also for resolving we do suggest to use [shuffledns](https://github.com/projectdiscovery/shuffledns) and you can pipe it with subfinder + wildcard filtering as well.

[code]

[2020-08-14 20:42] #294 closed

[2020-08-16 06:06] ZeroDot1 commented on #250
@bauthard Yeah, I'll take another look at that.

[2020-08-16 06:15] ZeroDot1 commented on #282
That sounds good.

[2020-08-16 15:27] ZeroDot1 commented on #250
@bauthard Yes, I succeeded reproducing the problem...

[FTL] Could not run enumeration: open /11/doipool.com.txt: too many open files

[INF] Current Version: 2.4.1

I use a list of currently 1694 URLs to check for subdomains.

[2020-08-16 16:06] vzamanillo commented on #250
Thnka you very much, @ZeroDot1

I don't know if the right thing is to do something about at development level because this is an OS ulimit issue. I think the use of some technice to bypass the ulimit is not correct because is not legitimate it is up the the user the choice of increment this or not.

[2020-08-16 21:23] ZeroDot1 commented on #250
A quick solution would be to split the lists with the URLs into different files.
However, this means a significant amount of additional work when maintaining the lists.
With other tools, e.g. [Findomain](https://findomain.app/monitoring-service/), I don't have this problem because I successfully tested a URL list with 50.000 URLs without any interruption.

While researching for the [CoinBlockerLis

[2020-08-19 14:52] vzamanillo commented on #250
@ZeroDot1 Could you please give me an URL test file?

[2020-08-24 08:18] Sy3Omda opened #299 "brute force list as a feature"
Hi,

i noticed that the readme dosn`t have flag for brute force feature, so
is it possible to enable it soon ?

thx

[2020-08-24 08:22] bauthard commented on #299
Hey @Sy3Omda,

We are focusing at one feature at a time, consider **subfinder** as **passive subdomain enumeration tool**, for bruteforce or resolving, we have [shuffledns](https://github.com/projectdiscovery/shuffledns) and [dnsprobe](https://github.com/projectdiscovery/dnsprobe).

[2020-08-24 08:22] #299 closed

[2020-08-24 12:34] geeknik opened #300 "[Feature] Add support for WhoisXML"
**Is your feature request related to a problem? Please describe.**
Hi and thank you for this great piece of software. Please add support for https://www.whoisxmlapi.com/. Thank you.

**Describe the solution you'd like**
API documentation: https://subdomains.whoisxmlapi.com/api/documentation/making-requests

[2020-08-25 06:59] vzamanillo commented on #293
[code]

You need permissions on the parent dir, your `.config` dir can not be traversed because it has not the execution permission.

`$ chmod a+x ~/.config`

[2020-08-25 13:47] Avileox opened #301 "[Feature] Request for Sources Addition"
### Here are some sources I would like to propose for addition after some comparison.

#### Sources with API Support:

- [x] alienvault [Api Support]
- [x] zoomeye [Api Support]
- [x] ipv4info [Api Support]
- [x] fofa.so [Api Support]
- [x] intelx.io [Api Support]
- [x] ThreatBook [Api Support]
- [ ] Cloudflare [Api Support]
- [ ] ZETAlytics [Api Support]
- [ ] WhoisXML [Api Support]
- [ ] Network

[2020-08-25 18:56] gbiagomba commented on #293
but the user (ubuntu nor root) has exec permissions. But downloading the standalone fixed it, and i will give this a try nonetheless and let u know. @vzamanillo

[2020-09-03 20:35] vzamanillo commented on #245
Can we close this?

[2020-09-03 20:36] bauthard commented on #245
This one added here projectdiscovery#245, @vzamanillo sure.

[2020-09-03 20:36] #245 closed

[2020-09-06 09:51] shadihh9 opened #305 "i have problem"
**Describe the bug**
when i run  subfinder -d riotgames.com -oI IP.txt not run
**Subfinder version**
2.3.4

**Complete command you used to reproduce this**

**Screenshots**
Add screenshots of the error for a better context.
![wwwwwww](https://user-images.githubusercontent.com/22076930/92323225-a6302380-f03f-11ea-9712-70de893b4534.png)

[2020-09-06 10:41] vzamanillo commented on #305
You have to use the `-nW` flag to remove wildcard domains.

[2020-09-06 18:46] bauthard commented on #305
As suggested, you need to use `nW`, the same indicated in the error as well.

[2020-09-06 18:46] #305 closed

[2020-09-07 09:32] 80c6qha opened #306 "-all not working"
there is a bug when i use -all arg...

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x10 pc=0x7ac576]

goroutine 63 [running]:
github.com/projectdiscovery/subfinder/pkg/subscraping/sources/github.proccesItems(0xa15d00, 0xc00008e060, 0xc000330000, 0x64, 0x80, 0xc0002480a0, 0x95dbdb, 0x6, 0xc00008a000, 0xc000200780, ...)
        /home/runne

[2020-09-07 19:13] lwierzbicki opened #307 "[Issue] No IP info on -oJ and -nW switches"
**Describe the bug**
No IP info presented on output from tool runs with `-oJ` and `-nW` switches. This behavior encountered on newly installed subfinder version  2.4.3 with some API keys configured. I only get `host` and `source`, without `ip` in JSON line. All info (means `host`, `ip`,`source` is presented when `-oI` switch is used and output like CSV (with comma delimeter)
On subfinder version 2

[2020-09-07 19:21] bauthard commented on #307
Hi @lwierzbicki,

Yes, we made some changes in the recent version, you can get the expected results with the followings:-

[code]

[2020-09-07 19:21] #307 closed

[2020-09-07 19:57] bauthard commented on #301
`intelx` is already part of subfinder.

[2020-09-09 08:58] cybertix commented on #306
Yes I am having the exact same issue. And it happens only when using -all flag.
And please do note that for me it does not happens every time. Sometimes it just runs perfectly

[2020-09-09 08:59] vzamanillo commented on #306
This will be reviewed ASAP. Thanks for reporting.

[2020-09-09 09:25] cybertix commented on #306
@vzamanillo  I also want to add one more thing. I have noticed a strange behavior. Whenever i run subfinder against a **.nl** root domain with -all flag, it always gives the upper mentioned error.
But If I run the same against a **.com** domain, most of the times it runs perfectly but it does break a few times though.

[2020-09-09 09:31] vzamanillo commented on #306
It is an dumb bug... xD

[2020-09-09 10:41] #306 closed

[2020-09-09 10:55] bauthard commented on #306
@80c6qha @cybertix this should be fixed in the latest release, thank you @vzamanillo for jumping on this.

[2020-09-09 11:37] cybertix commented on #306
Yes just tested it. It is fixed. Thanks

[2020-09-12 06:14] ghost opened #309 "Some random improvements"
Great tool btw ❤❤

- It would be great to introduce a time to live for apikeys to avoid burning up all the queries.
- A template engine where anyone can add a source to his liking.

[2020-09-12 08:50] vzamanillo commented on #250
It's time to use fdmax, but IMO it should be used as an option. Thoughts?

[2020-09-13 03:19] ZeroDot1 commented on #250
Yes, it is a good idea to use this as an additional option.
It should be easy to enable it with an option e.g. `--fdmax`.

**Example: **
`cat '/URLsToScan.txt' | 'go/bin/subfinder' -config '/Config/subfinder/config.yaml' -t 100 -timeout 1 -fdmax -silent -oD /11/ | tee /URLsToScanDONEsubfinder.txt`

Alternatively, it should also be possible to activate the option in the configuration file.

[2020-09-13 09:43] bauthard commented on #300
This request is being tracked here https://github.com/projectdiscovery/subfinder/issues/301

[2020-09-13 09:43] #300 closed

[2020-09-15 08:39] bauthard opened #315 "[Issue] Config file corruption issue with updates"
**Describe the bug**

While updating subfinder, the config file gets overwritten with version details with a bug which makes the YAML format invalid and failed to run the subfinder.

**Subfinder version**
2.4.4

[2020-09-15 10:48] vzamanillo commented on #301
ximc is implemented,  WhoisXML not yet.

[2020-09-15 18:52] Kiblyn11 opened #321 "[Issue] Using a config file with -nW fails"
**Describe the bug**
When using the flags -config and -nW together it fails

**Subfinder version**
2.4.4

[code]

I'm quite confident it doesnt have anything to do with my config file, it is working well without the -nW flag.
Also, having a very simple file seems to fail immediatly.

Output
[code]

[2020-09-15 19:26] vzamanillo commented on #321
Could you please paste the contents of your custom config file?

[2020-09-15 19:31] Kiblyn11 commented on #321
Indeed, that was it.
Thanks for help.
Though a verbose error would be nice ;)

[2020-09-15 19:31] #321 closed

[2020-09-19 21:18] vzamanillo commented on #293
Could we close this?

[2020-09-19 21:21] #293 closed

[2020-09-20 05:28] #250 closed

[2020-09-21 04:03] ZeroDot1 commented on #250
Hi @vzamanillo @bauthard,

Thanks for the update, unfortunately I can't test it at the moment because I have problems with the internet see the following tweet: https://twitter.com/zero_dot1/status/1306782690696466435
If my internet works properly again I will test it immediately.
Thanks a lot for your work, I appreciate it very much.

[2020-09-21 08:12] #315 closed

[2020-09-21 18:46] ZeroDot1 commented on #250
Hi @vzamanillo @bauthard,

Bad news, I visited a friend today because the internet is still not working properly in my home to test subfinder.
Unfortunately the problem still occurs.
![Bildschirmfoto vom 2020-09-21 20-44-04](https://user-images.githubusercontent.com/28985171/93807650-36c75000-fc4b-11ea-9acd-472844a38cf6.png)
Subfinder was compiled from the sources.

[2020-09-21 19:07] vzamanillo commented on #250
Looks like a different error, it is not related to file descriptors limit.

Could you please paste the complete command?

[2020-09-21 19:42] ZeroDot1 commented on #250
I used exactly the same commands as in the first posting.

`cat '/URLsToScan.txt' | 'go/bin/subfinder' -config '/Config/subfinder/config.yaml' -t 100 -timeout 1 -silent -oD /11/ | tee /URLsToScanDONEsubfinder.txt
`
[FTL] Could not run enumeration: open /home/user/Dokumente/GitLab/coinblockerlistspro/11/moneropool.com.txt: too many open files

[2020-09-22 06:11] vzamanillo commented on #250
Oh, I see, sorry.

[2020-09-22 09:34] nine9-nine9 opened #328 "Bug"
**Describe the bug**
When running subfinder with the -all flag I get a panic runtime error!! The error seems to be the sitedossier source. After excluding it fro sources it runs quite well!

**Subfinder version**
Include the version of subfinder you are using, `subfinder -version 2.4.5`

**Complete command you used to reproduce this**
subfinder -d uber.com -v -all

**Screenshots**
![Untitled](http

[2020-09-22 09:45] vzamanillo commented on #328
Hey! 2.4.5 is not released yet, are you running `subfinder` from the master branch?

[2020-09-22 09:48] nine9-nine9 commented on #328
Yes...

Shouldnt I complie from master

[2020-09-22 09:59] vzamanillo commented on #328
I am testing with the latest `master` branch and I can't reproduce this, could you please try again?

The `master` branch is subject to possible errors between releases, anyway thank you for reporting this.

[2020-09-22 10:23] nine9-nine9 commented on #328
So on 2.4.5 the sitedossier source gets the runtime error, but version 2.4.4 runs just fine.
I have attached screenshots and i shall revert back to v2.4.4

![2 4 4](https://user-images.githubusercontent.com/70813379/93870984-a5052480-fcd6-11ea-8191-713fccfbbee5.png)

![2 4 5](https://user-images.githubusercontent.com/70813379/93871002-aafb0580-fcd6-11ea-959e-71f935c259cb.png)

[2020-09-22 10:31] vzamanillo commented on #328
With the latest master branch `sitedossier` has no problem, anyway, the normal thing is to always use the latest release, use the master branch as I said before, it is subject to possible errors.

[2020-09-22 10:34] #328 closed

[2020-09-23 11:57] ZeroDot1 commented on #250
Hey no problem, we are all humans.

[2020-09-27 02:59] thefawsec opened #333 "Subfinder crashes when run against only a TLD"
**Description of bug**
When the tool is used against just a tld like `.gov or .mil` etc, with the `-all` flag, it crashes.
Please note that the issue exist when using `-all` flag otherwise it is working perfectly without using `-all` flag.

**Subfinder version that I am using**
v2.4.5

**To reproduce this, enter following command**
`subfinder -d mil -all
`

**Screenshot**
![Screenshot from 2020-09

[2020-09-27 08:30] yurivict opened #334 "[Issue] Fails to build on FreeBSD: build constraints exclude all Go files"
[code]

Please add the file v2/vendor/github.com/projectdiscovery/fdmax/autofdmax/init_freebsd.go

[2020-09-27 11:18] vzamanillo commented on #334
Note that this is not a regression bug, `fdmax` was not implemented on versions prior to `2.4.5`

[2020-09-27 11:22] vzamanillo commented on #333
Hey! thank you for reporting.

I am not able to reproduce this with the latest master branch, could you please provide us some extended info (verbose output, complete command... etc) to catch this?

[2020-09-27 14:01] thefawsec commented on #333
Well I am running the same command again as i mentioned above, and it is working fine now!
About 13 hours ago i tried `subfinder -d mil -all` thrice but it kept on crashing after running for a few seconds.
anyways, i just ran it twice and its working properly now.

[2020-09-27 14:36] bauthard commented on #333
We will try to see what's going on, but querying TLD is not expected and we do not suggest to use in that way, on a quick look we found `crtsh` and `bufferover` support this query, so you might to run `subfinder -d mil -sources crtsh,bufferover` instead of using `-all` @thefawsec

[2020-09-27 16:42] thefawsec commented on #333
okay. Thanks for the quick response guys.

[2020-10-03 01:22] udaydatrak opened #338 "Free 100 bug bounty video lessons"
Hi Guys,

I made a video on how to learn 100 unique security issues learning in just 20 hours without any basics.

I would like you to add these in your features list. People from across the globe already started giving hundreds of positive comments.

Search in YouTube for "100 bug bounty lessons uday datrak" To learn including web application development and setup too.

https://www.youtube.com/pl

[2020-10-03 05:25] bauthard commented on #338
Hi @udaydatrak,

Thank you, feel free to use the tool or name as it fits for you, thank you for making and sharing content for the community.

[2020-10-03 05:25] #338 closed

[2020-10-08 14:15] 003random opened #339 "[Issue] Panic when using invalid IntelX host"
**Describe the bug**
It seems like when using public.intelx.io as host in the IntelX key, it will trow a panic. I accidentally set this host in instead of 2.intelx.io (the public one was mentioned somewhere in the subfinder docs and the 2.intelx one was on the intelx dashboard).

The panic seems to be thrown on the defer close(results) which will be called at line 77 just before the return. The er

[2020-10-08 14:15] 003random commented on #339
Nice github -.- very good formatting

[2020-10-08 14:16] 003random commented on #339
https://gist.github.com/003random/4bd601003dae9941857ceecd2e91d7cf i uploaded the code to a gist

[2020-10-08 14:17] 003random commented on #339
use that code + set the intelx key to  public.intelx.io:your-valid-key-here

[2020-10-08 14:20] 003random commented on #339
Its stupid that i cant remember where i got it from to set public.intelx.io as host. I think i saw "<public.intelx.io:yourkey>" somewhere but cant find it. At least im certain i didnt make it up because i didnt even know public.intelx.io existed as subdomain ahah. never worked with intelx

[2020-10-12 15:53] bauthard commented on #339
@003random thank you for reporting this, this is a known bug when you submit an unexpected hostname in the config file.

[2020-10-14 17:11] learn-alam opened #340 "Error in installing"
**undefined: http.NewRequestWithContext**
after installing when i run go build in subfinder/v2/cmd/subfinder directory it show above error.
how to fix it.

![Screenshot from 2020-10-14 22-35-51](https://user-images.githubusercontent.com/66875769/96022244-3303a380-0e6e-11eb-9481-9001ed39d767.png)

[2020-10-14 22:36] bauthard commented on #340
Hey @learn-alam,

You are running an older version of Go, to install subfinder make sure you are running the latest or 1.14+ go version or simply download ready to use binary for your system from here https://github.com/projectdiscovery/subfinder/releases

[2020-10-15 01:52] learn-alam commented on #340
Hey @bauthard
Thanks for your help.
Subfinder installed successfully .

[2020-10-15 02:18] Kleissner commented on #339
The formerly public API instance `public.intelx.io` is discontinued (see also this [blog post](https://blog.intelx.io/2020/08/27/newsletter-2020-08-27/)).
Users must use `2.intelx.io` (you can hardcode that host) and the API key provided at https://intelx.io/account?tab=developer (the API key must be provided by the user via a config file).

[2020-10-15 06:18] #340 closed

[2020-10-15 20:43] gbiagomba commented on #293
apoloties @vzamanillo im just seeing htis but yes i know it is already closed but yes if i run into any other issues i will either reopen this one or open a new one and reference this (assuming the issue is the same)

[2020-11-03 17:05] dawadam opened #344 "[Feature] Filter only first level subdomain"
Some services have second level subdomains (aaa.bbb.website.com), it would be practical to only be able to filter the top level subdomains (bbb.website.com).
Or define the maximum subdomain depth.

[2020-11-04 05:56] bauthard commented on #344
Hi @dawadam,

Thank you for creating this issue, but this looks like out of scope for the Subfinder project, what you requesting here can be achieved by simple text processing that includes only 1st order of subdomains, as this is something will not be implemented in the project, as such closing this issue.

[2020-11-04 05:56] #344 closed

[2020-11-04 14:34] riisi commented on #226
Just a note that in my testing, subfinder doesn't seem to respect the HTTP_PROXY variable.

[2020-11-05 15:39] 003random opened #345 "[Bug] too many open files error errors after continues subfinder run"
**Describe the bug**
Ive gotten some errors when running subfinder for some hours on 4 hosts which have around 10k subs each (run it on the first host, then after its finished run it on the second, then the third and then the fourth. and after that, which is around 5 minutes from start, you start all over again in the loop).

The errors:
`could not run source anubis: Get "https://jldc.me/anubis/su

[2020-11-10 09:34] 003random commented on #345
Haven't been able to reproduce anymore lately. Not sure about the cause still.

[2020-12-02 07:35] team-projectdiscovery opened #347 "[Issue] invalid memory address with sitedossier source"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**Subfinder version**
 2.4.5

[2020-12-02 07:37] bauthard commented on #333
Closing this out as this is not a feature or expected way to run subfinder, no changes required on this.

[2020-12-02 07:37] #333 closed

[2020-12-02 07:45] bauthard commented on #345
Hi @003random,

This is an ongoing issue https://github.com/projectdiscovery/subfinder/issues/250 that we attempted to fix multiple times but looks like this issue still exists.

[2020-12-03 04:30] #334 closed

[2020-12-05 22:07] Mzack9999 opened #349 "[Feature] Use DNSX for internal DNS resolution"
**Is your feature request related to a problem? Please describe.**
Internal dns resolution logic should use dnsx/retryabledns

[2020-12-06 23:16] bauthard opened #350 "[Feature] Cloudlist integration"
**Is your feature request related to a problem? Please describe.**
I've assets hosted on multiple cloud solutions and I wanted to list and include them with subfinder for my testing pipeline.

**Describe the solution you'd like**
[cloudlist](https://github.com/projectdiscovery/cloudlist) integration with subfinder.

[2020-12-10 11:51] xqd-ai opened #351 "[Issue] SIGSEGV when using the -all option"
**Describe the bug**
application crash when using the -all option

**Subfinder version**
v2.4.5

**Complete command you used to reproduce this**
subfinder -d uber.com  -all -o subdomains-uber.txt

[code]

**Screenshots**
Add screenshots of the error for a better context.

[2020-12-10 13:13] team-projectdiscovery commented on #351
Hi @xqd-ai,

Closing as this is a duplicate of https://github.com/projectdiscovery/subfinder/issues/347, temporary solution, run subfinder with `subfinder -exclude-sources sitedossier -all`

[2020-12-10 13:13] #351 closed

[2020-12-13 22:22] adilqamar64 opened #353 "[Feature]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2020-12-14 07:49] #353 closed

[2020-12-14 09:06] team-projectdiscovery commented on #347
This is fixed in the dev branch with https://github.com/projectdiscovery/subfinder/pull/352 @vzamanillo ❤️

[2020-12-14 09:06] #347 closed

[2020-12-21 18:12] phackt opened #356 "[Issue] Docker build not working anymore (undefined: gologger.Warningf)"
[code]

Any idea why ?

Thanks,

[2020-12-21 18:46] phackt commented on #356
https://github.com/projectdiscovery/gologger/search?q=Warningf

Warningf does not seem to appear as a valid function name in gologger project.

[2020-12-21 19:22] bauthard commented on #356
@phackt we pushed some changes, can you git pull and retry?

[2020-12-21 20:04] phackt commented on #356
Hi, i have another issue:

[code]

[2020-12-21 20:07] bauthard commented on #356
@phackt should be fixed now.

[2020-12-21 20:15] phackt commented on #356
We are close:

[code]

Also trying to fix this.

[2020-12-21 20:19] bauthard commented on #356
Not sure why this error as it's a public project, also additionally you can also pull the docker image with

[code]

[2020-12-21 20:26] phackt commented on #356
I agree it s pretty weirdo ! Thanks a lot @bauthard, i will do a docker pull and docker image tag to rename my image.

Have a nice day,

[2020-12-21 20:26] #356 closed

[2020-12-23 04:35] maruthupandiyanv opened #357 "[Issue] panic: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
Using all sources subfinder -d uber.com -all  an error occur
[code]
**Subfinder version**
v2.4.5

[2020-12-23 08:04] bauthard commented on #357
Hi @maruthupandiyanv,

This is already fixed in the `dev` branch https://github.com/projectdiscovery/subfinder/commit/b3c582d3ad0e5d61e7a8b611b00e8832ee6d2fc5

[2020-12-23 08:04] #357 closed

[2020-12-23 08:51] maruthupandiyanv commented on #357
hi how to update to the fixed version

[2020-12-23 08:58] bauthard commented on #357
Hey,

You can clone the project and do `git checkout dev` and move to `cd v2/cmd/subfinder` and do `go build`.

Please keep in mind `dev` branch is supposed to use for development so there will be ongoing changes that might break things for you, so either you can wait till we create a new stable release and use it by excluding this source `-exclude-sources sitedossier`

[2020-12-23 09:01] maruthupandiyanv commented on #357
@bauthard thanks team

[2021-01-02 09:14] tech-ozon-io opened #358 "[Issue] segfaulty with sitedossier"
**Describe the bug**
I encounter this backtrace:

[code]

**Subfinder version**
current master at 01/02/2020

**Problem**

in the file subfinder/v2/pkg/subscraping/sources/sitedossier/sitedossier.go

[code]

I think that when error is process at "1>", it miss something like return or some process abort because the step "2>" is executed using "resp.Body" which is nil, and trigger a segfault.

Thier

[2021-01-02 10:07] bauthard commented on #358
Hi @tech-ozon-io,

This issue is fixed in this PR https://github.com/projectdiscovery/subfinder/pull/352 merged into `dev` branch.

[2021-01-02 18:07] tech-ozon-io commented on #358
thanks 👍

[2021-01-04 04:00] ZeroDot1 opened #359 "[Issue] New lines in the output with passivetotal source"
**Describe the bug**
When checking for subdomains, there are unfortunately repeatedly incorrect entries see example.

**Example**
[code]

**Subfinder version**
v2.4.5

**Complete command you used to reproduce this**
`subfinder -sources passivetotal -d alisepool.xyz`

[2021-01-04 04:15] ZeroDot1 commented on #359
OK, after a few URLs I can say that the problem occurs very often.
![Bildschirmfoto vom 2021-01-04 05-15-20](https://user-images.githubusercontent.com/28985171/103500608-dbad1800-4e4b-11eb-82ed-623eb33ba206.png)

[2021-01-04 06:19] bauthard commented on #359
Hi @ZeroDot1,

Looks like something got changed with `passivetotal` source, for the time being, you can run the scans by excluding this particular source `-exclude-sources passivetotal`

[2021-01-04 06:46] ZeroDot1 commented on #359
Yes, the solution works, thanks for the quick reply.

[2021-01-07 08:13] bauthard commented on #124
Closing this one, as we will focusing on utilizing existing sources in the best possible way, new sources will be added only when we are getting new results using new sources compared to existing sources.

[2021-01-07 08:13] #124 closed

[2021-01-07 08:14] bauthard commented on #282
Closing this one, as we will focusing on utilizing existing sources in the best possible way, new sources will be added only when we are getting new results using new sources compared to existing sources.

[2021-01-07 08:14] #282 closed

[2021-01-07 08:18] bauthard commented on #301
Thank you @Avileox for the issue and @vzamanillo for adding multiple sources, closing this issue now, as from now on we will be focusing on utilizing existing sources in the best possible way, new sources will be added only when we are getting new results using new sources compared to existing sources.

[2021-01-07 08:18] #301 closed

[2021-01-07 08:20] #241 closed

[2021-01-08 10:10] maK- opened #360 "[Feature]"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when you change the build instructions and paths, as it's the only project I have to keep updating regularly to install and build. It's a minor grievance but worth mentioning.

**Describe the solution you'd like**
It's such a great tool and I'm absolutely a massive fan, it would be even better though if you ke

[2021-01-08 10:16] bauthard commented on #360
Thank you for sharing the feedback @maK-, definitely, we will ensure to keep the project as stable as we can.

[2021-01-08 10:16] #360 closed

[2021-01-12 20:27] ZeroDot1 opened #362 "[Feature] rate limit support for http requests"
Add a function to make a random delay between the requests.
The user should have the possibility to set a time delay, e.g. a random delay from 1 to 10 seconds.
This function helps not to be blocked directly by the different services when you make a lot of requests.

[2021-01-21 19:28] ZeroDot1 opened #364 "[Feature] A way to search local lists and online lists for subdomains."
**Is your feature request related to a problem? Please describe.**
It is sometimes frustrating when you have many lists of helpful subdomains that you can't include directly in subfinder to use as a source when searching for subdomains.

**Describe the solution you'd like**
We should have a possibility to search local lists and online lists for subdomains.
It should be possible to store the paths

[2021-01-22 12:36] bauthard commented on #364
This is more aligned with what pointed out here https://github.com/projectdiscovery/subfinder/issues/309 with addition to offline support, basically, we need to add support in subfinder where users can self define and add sources easily.

[2021-01-22 13:12] ZeroDot1 commented on #364
@bauthard Thank you very much, and thank you for your good work I appreciate it very much. :+1:

[2021-01-27 05:41] lostsnow opened #365 "[Feature] Wildcards check support multi-level subdomain"
**Is your feature request related to a problem? Please describe.**

Currently wildcards check only support *.domain.com

**Describe the solution you'd like**

Hope to support multi-level subdomains such as *.foo.domain.com, *.bar.foo.domain.com, etc.

[2021-01-27 06:05] bauthard commented on #365
@lostsnow do you have some examples to share that we can use for evaluation?

[2021-01-27 06:19] lostsnow commented on #365
*.114.qq.com

[code]

[code]

[2021-02-01 16:54] gptshubham595 commented on #356
getting same err in windows, I'm installing it via golang

![image](https://user-images.githubusercontent.com/24877361/106490821-37ff6800-64dc-11eb-9299-7b38fd90fa54.png)

[2021-02-01 17:07] gptshubham595 commented on #356
using docker getting this err

![image](https://user-images.githubusercontent.com/24877361/106492506-fe2f6100-64dd-11eb-990b-603e84f8c6c6.png)

[2021-02-01 21:08] OnGitHubSchatz commented on #356
Here's where it's failing for me:

# github.com/projectdiscovery/subfinder/v2/pkg/subscraping
src/github.com/projectdiscovery/subfinder/v2/pkg/subscraping/agent.go:93:4: undefined: gologger.Warningf
github.com/projectdiscovery/subfinder/v2/pkg/resolve
The command '/bin/sh -c go get -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder' returned a non-zero code: 2

[line 93 in agent.go](https:/

[2021-02-04 04:05] storenth commented on #357
Do you plan to merge fix-changes in `master`?

[2021-02-04 06:57] bauthard commented on #357
Yes, we have more chances to update along with this and we will push the code to master and create a new release after that.

[2021-02-05 16:53] tallona commented on #226
I second that, subfinder doesn't seem to take HTTP_PROXY into account. Have tried a few things but nothing works to get subfinder to use the proxy.

[2021-02-09 18:07] CyberBeta opened #366 "Update Subfinder tool."
Hey Team,
I have old subfinder version. where when I go to config.yaml file I found some of recon application is not there. like: chaos, dnsdb, spyse, etc. So how can I update this. and I can set API keys with that.

[2021-02-09 18:23] #366 closed

[2021-02-12 14:44] dhiyaneshwaran-lucideus opened #368 "could not run source cebaidu , commoncrawl"
**Describe the bug**
could not run source

**Subfinder version**
Current Version: 2.4.5

**Complete command you used to reproduce this**
running continuous recon facing this issue

**Screenshots**

![image](https://user-images.githubusercontent.com/62234136/107782269-dd34fe80-6d6e-11eb-8b53-1af49ed338fb.png)

[2021-02-12 14:44] #368 closed

[2021-02-12 14:47] DhiyaneshGeek opened #369 "could not run cebaidu,commoncrawl"
**Describe the bug**
could not run source

**Subfinder version**
Current Version: 2.4.5

**Complete command you used to reproduce this**
running continuous recon facing this issue

**Screenshots**
![image](https://user-images.githubusercontent.com/24750220/107782625-49affd80-6d6f-11eb-98e3-25080f1abd50.png)

[2021-02-17 06:27] ehsandeep commented on #369
For commoncrawl:-

[code]

[2021-02-17 06:29] ehsandeep opened #373 "[Issue] certspotterold is deprecated"
**Describe the bug**

[code]

[2021-02-17 15:29] Mzack9999 commented on #345
Not reproducible => fdmax should solve the issue if the user has enough privileges to set the fd amount.

[2021-02-17 15:29] #345 closed

[2021-02-17 15:45] Mzack9999 commented on #339
Closing as the correct host should be specified in the config file

[2021-02-17 15:45] #339 closed

[2021-02-17 15:46] Mzack9999 commented on #358
Closing as the issue has been addressed in the dev branch

[2021-02-17 15:46] #358 closed

[2021-02-17 17:48] Mzack9999 commented on #369
* commoncrawl is working properly with a top level domain (`exodus.io`), but doesn't return results with `a.exodus.io`
* cebaidu seems deprecated as the endpoint always redirect to a dashboard page @ehsandeep

[code]

[2021-02-18 18:05] ehsandeep commented on #359
This is fixed with https://github.com/projectdiscovery/subfinder/pull/375

[2021-02-18 18:05] #359 closed

[2021-02-18 18:08] ehsandeep commented on #373
Fixed with https://github.com/projectdiscovery/subfinder/pull/376

[2021-02-18 18:08] #373 closed

[2021-02-18 18:09] ehsandeep commented on #369
We removed this source support here https://github.com/projectdiscovery/subfinder/pull/377

[2021-02-18 18:09] #369 closed

[2021-02-18 18:15] ehsandeep opened #378 "Adding goflags support"
Goflags:- https://github.com/projectdiscovery/goflags that comes with the following support

- Auto-generated Flag configuration file
- Long / Short formatted flag support
- Help menu grouping support

[2021-02-18 18:41] ehsandeep opened #379 "[Issue] Removing deprecated chaos-upload support"
**Describe the bug**
Subfinder supports chaos as a source for DNS enumeration + DNS data update to chaos dataset.

Recently support for DNS data update to chaos dataset is removed, which needs to be removed from subfinder as well.

**Subfinder version**
2.4.5

[2021-02-20 09:23] ehsandeep commented on #379
Done!

[2021-02-20 09:23] #379 closed

[2021-02-21 07:56] ehsandeep commented on #349
Done!

[2021-02-21 07:56] #349 closed

[2021-02-21 20:57] chenrui333 opened #396 "[Issue] release 2.4.6 not stable"
it looks like release 2.4.6 tag is not quite stable.

relates to https://github.com/Homebrew/homebrew-core/pull/71628

[2021-02-22 06:11] ehsandeep commented on #396
Hi @chenrui333,

We pushed few changes after release and recreated the release again, and that might caused an issue? as of now things looks stable.

[2021-02-25 19:21] ehsandeep opened #398 "[Issue] <br> tag in output with anubis source"
Workaround:-

a) excluding source form scan:-
[code]
b) removing from `anubis` from config file at `~/.config/subfinder/config.yaml`

[2021-02-27 10:47] vzamanillo commented on #398
I think this is not a bug, the br tag comes from the source itself, it is not a parsing problem because the provider responses with a `json`

![2021-02-27_11-44](https://user-images.githubusercontent.com/10209695/109385066-66147400-78f1-11eb-9acd-2ea33561ef2f.png)

[2021-03-18 00:14] bugpie54 opened #402 "panic: runtime error: invalid memory address or nil pointer dereference"
**Describe the bug**
The error occured when using the -nW flag

**Subfinder version**
Version: 2.4.6

**Complete command you used to reproduce this**
subfinder -d hackerone.com -nW

**Error**
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x88a5aa]

goroutine 1 [running]:
github.com/projectdiscovery/dnsx/libs/dn

[2021-03-23 06:33] choopm commented on #396
@ehsandeep
Maybe that's the reason for this? Running on go 1.16
[code]

[2021-03-23 14:02] parabss opened #405 "Installation issue [Issue]"
While installing following the command given given in README.md
I'm getting the following error.
``` go get github.com/projectdiscovery/subfinder/v2/cmd/subfinder: module github.com/projectdiscovery/subfinder@upgrade found (v2.4.6+incompatible), but does not contain package github.com/projectdiscovery/subfinder/v2/cmd/subfinder ```

My Go version(go1.15.7)

[2021-03-23 17:01] kernel-sanders commented on #405
[code]

Fixes it for now. Looks like the `fixing mod file` commits today broke it.

[2021-03-24 08:53] Luidiblu commented on #405
Thanks! @kernel-sanders

[2021-03-24 08:57] ehsandeep commented on #405
thank you @kernel-sanders for sharing this, we will pushing a stable fix asap.

Reference:- https://github.com/projectdiscovery/subfinder/issues/396

[2021-03-24 10:25] ValluvarSploit commented on #402
I faced this issue in v2.4.3. It's resolved in new release.

[2021-03-25 17:40] ehsandeep commented on #402
@bugpie54 this was an issue with the older version and fixed in the latest version, can you make sure to run this with latest binary?

[code]

[2021-03-25 17:43] ehsandeep commented on #398
Closing as this is not an issue in parsing and results will be filtered with DNS resolution.

[2021-03-25 17:43] #398 closed

[2021-03-26 17:07] c2xusnpq6 opened #408 "[Feature] add source website fofa.so"
https://fofa.so just like censys or zoomeye

[2021-03-26 17:50] bugpie54 commented on #402
I did run it with the latest binary which i downloaded from the releases page! am i missing something here?!

[2021-03-30 00:24] gaby commented on #405
@ehsandeep  Any plans to make another release to fix this? The current latest Docker image is also affected by this issue.

[2021-03-30 08:02] hahwul commented on #405
@ehsandeep
Is this an issue solved? I still get the same mismatch error.
[code]

[code]

and in github action
![123](https://user-images.githubusercontent.com/13212227/112954811-b8a7b100-9179-11eb-90e8-be99e9ef75ed.png)

[2021-03-30 10:37] ehsandeep commented on #405
This is fixed with [v2.4.7](https://github.com/projectdiscovery/subfinder/releases/tag/v2.4.7) release.

@hahwul @parabss @kernel-sanders @gaby @Luidiblu FYI

[2021-03-30 10:38] ehsandeep commented on #396
We fixed the installation issue with  [v2.4.7](https://github.com/projectdiscovery/subfinder/releases/tag/v2.4.7) release.

@chenrui333 @choopm FYI^

[2021-03-30 10:38] #396 closed

[2021-04-04 01:02] #402 closed

[2021-04-08 16:58] GDATTACKER-RESEARCHER opened #412 "[Issue] invalid memory address or nil pointer dereference"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x89326a]

goroutine 1 [running]:
github.com/projectdiscovery/dnsx/libs/dnsx.(*DNSX).Lookup(0xc00000fbc0, 0xc000029d40, 0x20, 0x9cd3db, 0x1, 0x7fff54ec06a7, 0xb, 0xc000029d40)
	/root/go/pkg/mod/github.com/projectdiscovery/dnsx@v1.0.2/libs/dnsx/dnsx.go:56 +0x10a
gith

[2021-04-16 11:25] ehsandeep opened #414 "[Feature] GitHub Action for SubFinder"

[2021-04-17 12:39] ehsandeep commented on #365
SubFinder uses dnsx for active resolutions, it will be done as part of dnsx and tracking here https://github.com/projectdiscovery/dnsx/issues/34

[2021-04-17 12:39] #365 closed

[2021-04-17 12:41] ehsandeep commented on #412
@GDATTACKER-RESEARCHER Can you share the command you used to reproduce this? with output of `subfinder -version`

[2021-04-17 12:46] GDATTACKER-RESEARCHER commented on #412
Cat 1|subfinder -all|tee 11  sorry wrote  wrong first

[2021-04-17 13:14] ehsandeep commented on #412
@GDATTACKER-RESEARCHER `-all` flag only collects the passive data and does not make use of dnsx, unless you use `-nW` flag, can you check and confirm this again?

[2021-04-17 13:17] GDATTACKER-RESEARCHER commented on #412
it comes sometimes not always so maybe needs a long time analysis.

[2021-04-19 18:40] ehsandeep commented on #412
It was an issue with dnsx, and fixed in this PR https://github.com/projectdiscovery/subfinder/pull/417

[2021-04-23 10:48] ehsandeep commented on #412
Fixed added into master and latest release, [v2.4.8](https://github.com/projectdiscovery/subfinder/releases/tag/v2.4.8)

[2021-04-23 10:48] #412 closed

[2021-04-25 18:18] c2xusnpq6 commented on #408
ping?